***Import the necessary libraries***

In [ ]:
#Import the necessary libraries

from pyspark.sql import SparkSession
from pyspark.sql.functions import count, col, concat_ws, row_number, desc
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.sql.types import StructType, StructField, StringType, TimestampType

In [ ]:
#Import the necessary libraries

from pyspark.sql import SparkSession
from pyspark.sql.functions import count, col, concat_ws, row_number, desc
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.sql.types import StructType, StructField, StringType, TimestampType

:

In [ ]:
print("test")

:

:

:

***Initialize the the connection from the Spark to the postgresql database***

In [ ]:
# Initialize SparkSession
spark = SparkSession.builder \
    .appName('postgresql_connection') \
    .getOrCreate()

:

:

:

In [4]:
# PostgreSQL connection parameters
database = "skyminyr_development"
user = "postgres"
password = "password"
url = f"jdbc:postgresql://global-db:5432/{database}"

In [5]:
# Read table names from PostgreSQL metadata
table_names = spark.read \
    .format("jdbc") \
    .option("url", url) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "org.postgresql.Driver") \
    .option("dbtable", "(SELECT table_name FROM information_schema.tables WHERE table_schema = 'public') as tables") \
    .load()

In [6]:


# Convert the DataFrame to a list of table names
table_list = table_names.select("table_name").rdd.flatMap(lambda x: x).collect()

# Print the list of table names
print("Available Tables:")
for table_name in table_list:
    print(table_name)

# Now you can use this list to access each table individually

Available Tables:
ar_internal_metadata
companies
company_annual_revenues
company_customers
company_events
company_funding_round_investors
company_funding_rounds
company_headcounts
company_locations
company_names
company_sectors
company_social_urls
company_stock_tickers
people
person_customers
person_educations
person_employments
person_social_urls
schema_migrations

In [7]:
# Function to load data from a table into a DataFrame
def load_table(table_name):
    df = spark.read \
        .format("jdbc") \
        .option("url", url) \
        .option("dbtable", table_name) \
        .option("user", user) \
        .option("password", password) \
        .option("driver", "org.postgresql.Driver") \
        .load()
    return df

***Load the table into the dataframes***

In [8]:
# Load data from the people related tables into a DataFrame
people_df = load_table("people")
person_customer_df = load_table("person_customers")
person_educations_df = load_table("person_educations")
person_employments_df = load_table("person_employments")
person_social_urls_df = load_table("person_social_urls")
company_sectors_df = load_table("company_sectors")
company_headcounts_df = load_table("company_headcounts")
company_annual_revenues_df = load_table("company_annual_revenues")
company_stock_tickers_df = load_table("company_stock_tickers")
company_funding_rounds_df = load_table("company_funding_rounds")

***Function to check the uniqueness of data***

In [9]:
#function to check the uniqueness of the dataframe
def check_uniqueness(df, column_name):
    # Add a new column 'is_duplicate' that flags if column_name is duplicated
    df_duplicates_check = df.withColumn('is_duplicate', count(column_name).over(Window.partitionBy(column_name)) > 1)

    # If any 'is_duplicate' is True, then DataFrame is not unique based on column_name
    if df_duplicates_check.filter(col('is_duplicate')).count() > 0:
        print(f"DataFrame is not unique based on {column_name}")
    else:
        print(f"DataFrame is unique based on {column_name}")

In [10]:
check_uniqueness(people_df, 'id')

DataFrame is unique based on id

***Function to check the counts of data***

In [11]:
def count_records(df):
    """
    This function counts the number of records in a DataFrame.

    Parameters:
    df (DataFrame): The DataFrame for which to count the records.

    Returns:
    int: The number of records in the DataFrame.
    """
    # Use the count() function to count the number of rows in the DataFrame
    num_records = df.count()

    # Return the number of records
    return num_records

***People Table Transformation***

In [12]:
# Select specific columns from the 'people_df' DataFrame, rename the 'id' column to 'person_id',
# and concatenate 'address', 'city', 'region', 'postal_code', 'country' columns with a comma separator
people_selected_df = people_df.select('id', 'name', 'address', 'city', 'region', 'postal_code', 'country', 'headline','description', 'created_at', 'updated_at')\
                              .withColumnRenamed('id', 'person_id')\
                              .withColumn('address', concat_ws(', ', 'address', 'city', 'region', 'postal_code', 'country'))

people_selected_df = people_selected_df.select('person_id', 'name', 'address','headline','description', 'created_at', 'updated_at')

# people_selected_df.show()

In [13]:
count_records(people_selected_df)

999

***Transformation for the "person_customer" table***

In [14]:
count_records(person_customer_df)

# person_customer_df.show()

166

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 54178)
Traceback (most recent call last):
  File "/opt/conda/lib/python3.11/socketserver.py", line 317, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/opt/conda/lib/python3.11/socketserver.py", line 348, in process_request
    self.finish_request(request, client_address)
  File "/opt/conda/lib/python3.11/socketserver.py", line 361, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/opt/conda/lib/python3.11/socketserver.py", line 755, in __init__
    self.handle()
  File "/usr/local/spark/python/pyspark/accumulators.py", line 295, in handle
    poll(accum_updates)
  File "/usr/local/spark/python/pyspark/accumulators.py", line 267, in poll
    if self.rfile in r and func():
                           ^^^^^^
  File "/usr/local/spark/python/pyspark/accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
                  ^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/spark/python/pyspark/serializers.py", line 596, in read_int
    raise EOFError
EOFError
----------------------------------------

In [ ]:
# Call the 'check_uniqueness' function on 'person_customer_df' DataFrame to check if 'person_id' is unique
check_uniqueness(person_customer_df,'person_id')

DataFrame is not unique based on person_id

In [ ]:
# Group by 'person_id' and count the number of occurrences of each 'person_id'
duplicate_rows = person_customer_df.groupBy('person_id').agg(count('*').alias('count'))

# Filter the rows where 'count' is greater than 1 (i.e., 'person_id' is duplicated)
duplicate_rows = duplicate_rows.filter(duplicate_rows['count'] > 1)

# Show the duplicate rows
duplicate_rows.show()
count_records(duplicate_rows)

+---------+-----+
|person_id|count|
+---------+-----+
|693540132|    2|
+---------+-----+

1

In [ ]:
# Define a window partitioned by person_id and ordered by updated_at in descending order
window = Window.partitionBy("person_id").orderBy(desc("updated_at"))

# Add a row_number column to the DataFrame
person_customer_df = person_customer_df.withColumn("rn", row_number().over(window))

# Filter the DataFrame to keep only the rows with rn = 1 (i.e., the latest updated_at for each person_id)
person_customer_df = person_customer_df.filter(person_customer_df.rn == 1)

# Drop the rn column
person_customer_df = person_customer_df.drop("rn")

count_records(person_customer_df)

165

In [ ]:
# Call the 'check_uniqueness' function on 'person_customer_df' DataFrame to check if 'person_id' is unique
check_uniqueness(person_customer_df,'person_id')

DataFrame is unique based on person_id

In [ ]:
# Select 'person_id' and 'customer_id' columns from 'person_customer_df' DataFrame
people_selected_customer_df = person_customer_df.select('person_id', 'customer_id')

# Join 'people_selected_df' with 'people_selected_customer_df' on 'person_id'
people_person_customer_df = people_selected_df.join(people_selected_customer_df, on='person_id', how='left')

# people_person_customer_df.show()

In [ ]:
count_records(people_person_customer_df)

999

***Transformation for "Person Education" table***

In [ ]:
count_records(person_educations_df)
# person_educations_df.show()

1209

In [ ]:
# Define a struct for each institute
institute_struct = F.struct(
    "institution_id", "institution_name", "degree", "subject", "started_on", "ended_on"
)

# Group by person_id and collect list of institute details as structs
grouped_educations_df = person_educations_df.groupBy("person_id").agg(
    F.collect_list(institute_struct).alias("education")
    # ("education - (institution_id, institution_name, degree, subject, started_on, ended_on)")
)

person_education_group_df = grouped_educations_df



# Show the result
# person_education_group_df.show(truncate=False)

In [ ]:
check_uniqueness(person_education_group_df, 'person_id')

DataFrame is unique based on person_id

In [ ]:
count_records(person_education_group_df)

500

In [ ]:
# Joining person_education_group_df and people_person_customer_df DataFrames on column named 'person_id'

people_person_customer_education_df = people_person_customer_df.join(person_education_group_df, on='person_id', how='left') 

# people_person_customer_education_df.show()

count_records(people_person_customer_education_df)

999

***Transformation for Company related information***

In [ ]:
count_records(company_sectors_df)

5711

In [ ]:
# Group the DataFrame 'company_sectors_df' by 'company_id'
grouped_company_sectors_df = company_sectors_df.groupBy('company_id').agg(
    F.collect_list('sector').alias('sectors')
)

# Check the DataFrame 'grouped_company_sectors_df'
# grouped_company_sectors_df.show()

count_records(grouped_company_sectors_df)

1000

In [ ]:
count_records(company_annual_revenues_df)

18532

In [ ]:
# Define a window partitioned by 'company_id' and ordered by 'date' in descending order
window = Window.partitionBy('company_id').orderBy(F.desc('date'))

# Add a new column 'rank' to the DataFrame 'company_annual_revenues_df'
# The 'rank' is calculated over the defined window
grouped_company_annual_revenues_df = company_annual_revenues_df.withColumn('rank', F.rank().over(window))

# Filter the DataFrame to keep only the rows where 'rank' is 1
# This gives us the latest annual revenue for each company
# Select only the 'company_id' and 'amount_usd' columns for the final DataFrame
latest_company_annual_revenues_df = grouped_company_annual_revenues_df.filter(F.col('rank') == 1).select('company_id', 'amount_usd')

# Check the DataFrame 'latest_company_annual_revenues_df'
# latest_company_annual_revenues_df.show()

count_records(latest_company_annual_revenues_df)

999

In [ ]:
count_records(company_headcounts_df)

1000

In [ ]:
# Define a window partitioned by 'headcount' and ordered by 'date' in descending order
window = Window.partitionBy('headcount').orderBy(F.desc('date'))

# Add a new column 'rank' to the DataFrame 'company_headcounts_df'
# The 'rank' is calculated over the defined window
grouped_company_headcounts_df = company_headcounts_df.withColumn('rank', F.rank().over(window))

# Filter the DataFrame to keep only the rows where 'rank' is 1
# This gives us the latest headcount for each company
# Select only the 'company_id' and 'headcount' columns for the final DataFrame
latest_company_headcounts_df = grouped_company_headcounts_df.filter(F.col('rank') == 1).select('company_id', 'headcount')

# Check the DataFrame 'latest_company_headcounts_df'
# latest_company_headcounts_df.show()

count_records(latest_company_headcounts_df)

847

In [ ]:
# Select the 'company_id' and 'stock_ticker' columns from the DataFrame 'company_stock_tickers_df'
selected_company_stock_tickers_df = company_stock_tickers_df.select('company_id','stock_ticker')
count_records(selected_company_stock_tickers_df)

1000

In [ ]:
# Define a Window specification: partition by 'company_id' and order by 'company_id', 'date' (in descending order), and 'updated_at' (in descending order)
windowSpec = Window.partitionBy(company_funding_rounds_df['company_id']).orderBy(company_funding_rounds_df['company_id'], company_funding_rounds_df['date'].desc(), company_funding_rounds_df['updated_at'].desc())

# Add a new column 'rn' to the DataFrame 'company_funding_rounds_df' which contains row numbers within each window partition
grouped_company_funding_rounds_df = company_funding_rounds_df.withColumn("rn", row_number().over(windowSpec))

# Filter the DataFrame to keep only the rows with 'rn' equal to 1 (i.e., the most recent funding round for each company), then drop the 'rn' column
filtered_company_funding_rounds_df = grouped_company_funding_rounds_df.filter(col("rn") == 1).drop("rn")

# Select the columns 'company_id', 'name', 'investor_company_id', and 'investor' from the filtered DataFrame
filtered_company_funding_rounds_df.select('company_id','name', 'investor_company_id','investor')

DataFrame[company_id: bigint, name: string, investor_company_id: bigint, investor: string]

***Joined the company information related transformed dataframes***

In [ ]:

# Join the DataFrame 'grouped_company_sectors_df' with 'latest_company_annual_revenues_df', 'latest_company_headcounts_df', and 'selected_company_stock_tickers_df' on 'company_id'
# The join type is 'left', meaning only the rows with a match in both DataFrames will be kept
company_info_joined_df = grouped_company_sectors_df.join(
    latest_company_annual_revenues_df, 'company_id', 'left'
).join(
    latest_company_headcounts_df, 'company_id', 'left'
).join(
    selected_company_stock_tickers_df, 'company_id', 'left'
).join(
    filtered_company_funding_rounds_df, 'company_id', 'left'
)

# count_records(company_info_joined_df)

# Select the 'company_id', 'amount_usd', 'headcount', and 'stock_ticker' columns from the joined DataFrame
resultant_company_info_joined_df = company_info_joined_df.select(
    'company_id',
    company_info_joined_df['name'].alias('funding_name'), 'investor_company_id','investor',
    latest_company_annual_revenues_df['amount_usd'],
    latest_company_headcounts_df['headcount'],
    selected_company_stock_tickers_df['stock_ticker']
)

# Check the DataFrame 'resultant_company_info_joined_df'
# resultant_company_info_joined_df.show()

count_records(resultant_company_info_joined_df)

1000

***Transformation for the Person Employment Table***

In [ ]:
count_records(person_employments_df)
# person_employments_df.show()

7898

In [ ]:
person_employments_df.columns

['id',
 'person_id',
 'company_id',
 'company_name',
 'seniority_level',
 'title',
 'started_on',
 'ended_on',
 'created_at',
 'updated_at']

In [ ]:
resultant_company_info_joined_df.columns

['company_id',
 'funding_name',
 'investor_company_id',
 'investor',
 'amount_usd',
 'headcount',
 'stock_ticker']

In [ ]:
# Join the DataFrames on 'company_id'
resultant_company_info_employment_joined_df = person_employments_df.join(resultant_company_info_joined_df, 'company_id', 'left')

count_records(resultant_company_info_employment_joined_df)

# Define a new struct that includes the additional columns
emplopyment_struct = F.struct(
    "company_id", "company_name", "seniority_level", "title", "started_on", "ended_on",
    resultant_company_info_joined_df['amount_usd'],
    resultant_company_info_joined_df['headcount'],
    resultant_company_info_joined_df['stock_ticker'],
    resultant_company_info_joined_df['funding_name'],
    resultant_company_info_joined_df['investor_company_id'],
    resultant_company_info_joined_df['investor']

)

# Group by 'person_id' and collect list of employment details as structs
grouped_person_employments_df = resultant_company_info_employment_joined_df.groupBy("person_id").agg(
    F.collect_list(emplopyment_struct).alias("employments")
)

grouped_person_employments_df.show(truncate=False)


count_records(person_employments_df)

+---------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|person_id|employments                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
+---------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|101255   |[{9307194, Onlive Technologies, NULL, Senior Software Developer, 1994-01-01, 1996-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {26, eBay, CXO, Chief Technology Officer Of Local Classifieds, 2007-09-01, 2011-06-01, NULL, NULL, NULL, NULL, NULL, NULL}, {26, eBay, NULL, Staff Software Engineer, 2001-04-01, 2001-12-01, NULL, NULL, NULL, NULL, NULL, NULL}, {26, eBay, Director, Technology Director, 2002-01-01, 2007-08-01, NULL, NULL, NULL, NULL, NULL, NULL}, {13385, FirstRain, VP, Vice President Of Engineering Operations, 2013-01-01, 2015-07-01, NULL, NULL, NULL, NULL, NULL, NULL}, {20556, M/A-COM, NULL, Member Of Technical Staff, 1982-01-01, 1984-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {77025, Yotta Technologies, NULL, Co-Founder, 2011-12-01, 2013-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {171553, GRiD Systems, NULL, Software Developer, 1984-01-01, 1990-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {4207, Netscape, Manager, Calendar Server Development Manager, 1996-01-01, 1998-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {7854, Micro Focus, NULL, Senior Software Engineer, 1990-01-01, 1994-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {10692885, Zip2save.Com, NULL, Senior Software Engineer, 1996-01-01, 1996-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {387, AOL, NULL, Senior Software Developer, 1998-01-01, 2001-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {1660, Apple, NULL, Engineering Leader for Analytics and Data Products in Apple Media, 2016-10-01, NULL, 31949031445.00, 224704, AAPL, Private Equity, 6084, Interscope Records}, {1660, Apple, Head of ..., Head Of Foundation, Apple Online Store Engineering, 2015-08-01, 2016-10-01, 31949031445.00, 224704, AAPL, Private Equity, 6084, Interscope Records}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
|124469   |[{188933, Kleenk, NULL, Founder, 2011-03-01, 2012-05-01, NULL, NULL, NULL, NULL, NULL, NULL}, {NULL, NULL, NULL, Co-Founder, 2008-09-01, 2012-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {389048, Wholi, CXO, Co-founder & CTO, 2014-01-01, 2018-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {94027, 3Sourcing, CXO, Co-Founder & CTO, 2012-02-01, 2014-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {742393, RoboSelf, CXO, Founder & CEO, 2019-01-01, 2022-08-01, NULL, NULL, NULL, NULL, NULL, NULL}, {7494192, Datagraph, CXO, CEO, 2018-01-01, 2018-12-01, NULL, NULL, NULL, NULL, NULL, NULL}, {4360, NVIDIA, NULL, Principal Applied Scientist, 2022-08-01, NULL, 18110805495.00, 24468, NVDA, Grant, 198878, ARPA-E}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |
|149312   |[{29434, WiserTogether, Director, Director, Product Technology, 2011-10-01, 2013-08-01, NULL, NULL, NULL, NULL, NULL, NULL}, {10395958, University At Buffalo, NULL, Adjunct Instructor, 2002-01-01, 2006-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {NULL, NULL, NULL, Owner, 2001-01-01, 2007-05-01, NULL, NULL, NULL, NULL, NULL, NULL}, {NULL, NULL, NULL, Freelance Technologist, 2013-08-01, 2020-12-01, NULL, NULL, NULL, NULL, NULL, NULL}, {11737794, Univresity of Idaho, NULL, Temporary Lecturer, 2001-01-01, 2002-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {11737794, Univresity of Idaho, NULL, Teaching Assistant, 1999-09-01, 2001-05-01, NULL, NULL, NULL, NULL, NULL, NULL}, {116163, Seattle University, Director, Director of Web, Application and Technology Studies, 2014-03-01, 2018-09-01, NULL, NULL, NULL, NULL, NULL, NULL}, {11663, PBS, NULL, Sr. Manager, Education Technology Strategy, 2010-04-01, 2011-10-01, NULL, NULL, NULL, NULL, NULL, NULL}, {11663, PBS, NULL, Manager, Technology Solutions, 2008-02-01, 2010-04-01, NULL, NULL, NULL, NULL, NULL, NULL}, {11663, PBS, NULL, Web Technologist, 2006-08-01, 2008-02-01, NULL, NULL, NULL, NULL, NULL, NULL}, {314847, Speak Agent, Inc., NULL, Senior Application Developer, 2013-06-01, 2015-12-01, NULL, NULL, NULL, NULL, NULL, NULL}, {1749, NetApp, NULL, Sr. Engineering Manager, 2020-08-01, 2021-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {1749, NetApp, NULL, Sr. Engineering Manager, 2018-10-01, 2020-08-01, NULL, NULL, NULL, NULL, NULL, NULL}, {4360, NVIDIA, NULL, Application Engineering Manager, Cloud Native Engineering, 2021-01-01, NULL, 18110805495.00, 24468, NVDA, Grant, 198878, ARPA-E}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
|175688   |[{21369, Mavenir, NULL, Software Developer, 2000-08-01, 2002-09-01, NULL, NULL, NULL, NULL, NULL, NULL}, {21369, Mavenir, NULL, Team Leader, 2002-10-01, 2003-12-01, NULL, NULL, NULL, NULL, NULL, NULL}, {NULL, NULL, CXO, Chief Product Officer, 2019-07-01, 2021-04-01, NULL, NULL, NULL, NULL, NULL, NULL}, {NULL, NULL, NULL, Founder, 2006-01-01, 2006-12-01, NULL, NULL, NULL, NULL, NULL, NULL}, {NULL, NULL, NULL, Maintainer, 2000-01-01, 2010-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {88964, Twitch, VP, Vice President Of Product, Developer Experience, 2018-02-01, 2019-07-01, NULL, NULL, NULL, NULL, NULL, NULL}, {201690, Microsoft, NULL, Software Architecture Advisor, 2006-12-01, 2010-02-01, 63043059112.00, 230609, MSFT, Post-IPO Equity, NULL, black strong stone}, {201690, Microsoft, NULL, Windows Azure Ssp, 2010-08-01, 2011-06-01, 63043059112.00, 230609, MSFT, Post-IPO Equity, NULL, black strong stone}, {10251277, Slack, Director, Director Of Developer Relations, 2015-11-01, 2018-02-01, NULL, NULL, NULL, NULL, NULL, NULL}, {13, Twitter, Manager, Production Manager, 2021-04-01, NULL, 1411687950.00, 3346, TWTR, Post-IPO Equity, 34160, Greenlight Capital}, {41491, Innovation Endeavors, NULL, Venture Partner, 2021-05-01, 2021-05-01, NULL, NULL, NULL, NULL, NULL, NULL}, {198960, Google, Manager, Developer Relations, Global Program Manager, 2014-01-01, 2015-08-01, NULL, NULL, NULL, NULL, NULL, NULL}, {198960, Google, Manager, Developer Relations Program Manager, 2011-06-01, 2014-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {198960, Google, NULL, Startup Ecosystem Development Lead, Google Play, 2015-08-01, 2015-11-01, NULL, NULL, NULL, NULL, NULL, NULL}, {318671, Datacom, NULL, Senior Architect And Consultant, 2008-12-01, 2010-08-01, NULL, NULL, NULL, NULL, NULL, NULL}, {376076, iPace, NULL, Software Developer, 1999-04-01, 2000-08-01, NULL, NULL, NULL, NULL, NULL, NULL}, {145383, Coridan, NULL, Core Architect, 2005-08-01, 2006-08-01, NULL, NULL, NULL, NULL, NULL, NULL}, {145383, Coridan, NULL, Team Leader, 2003-12-01, 2005-08-01, NULL, NULL, NULL, NULL, NULL, NULL}, {1401264, Reshuffle, CXO, Chief Product Officer, 2019-07-01, NULL, NULL, NULL, NULL, NULL, NULL, NULL}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |

7898

In [ ]:
# Join the DataFrame 'people_person_customer_education_df' with 'person_employments_df' on 'person_id'
# The resulting DataFrame contains information about a person's education and employment
people_person_customer_education_educations_df = people_person_customer_education_df.join(grouped_person_employments_df, on='person_id', how='left') 

# people_person_customer_education_educations_df.show()

count_records(people_person_customer_education_educations_df)

999

***Transformation for the Person Social Urls Table***

In [ ]:
# Group by person_id and collect list of URL details
grouped_urls_df = person_social_urls_df.groupBy("person_id").agg(
    F.collect_list(
        F.struct("url_type", "url")
    ).alias("urls")
)

# Show the result
# grouped_urls_df.show(truncate=False)

count_records(grouped_urls_df)

999

In [ ]:
check_uniqueness(grouped_urls_df, 'person_id')

DataFrame is unique based on person_id

In [ ]:
# Joining person_education_group_df and people_person_customer_df DataFrames on column named 'person_id'

people_person_customer_education_employments_social_urls_df = people_person_customer_education_educations_df.join(grouped_urls_df, on='person_id', how='left') 

count_records(people_person_customer_education_employments_social_urls_df)

999

In [ ]:
check_uniqueness(people_person_customer_education_employments_social_urls_df, 'person_id')

DataFrame is unique based on person_id

***Final Dataframe***

In [ ]:
# people_person_customer_education_employments_social_urls_df.printSchema()

In [ ]:
people_person_customer_education_employments_social_urls_df.show()

+----------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
| person_id|               name|             address|            headline|         description|          created_at|          updated_at|         customer_id|           education|         employments|                urls|
+----------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
| 949256266|        Vivian Weng|           SINGAPORE|Product Design, S...|                NULL|2023-12-11 06:18:...|                NULL|7538cb11-1c23-4c7...|[{NULL, Universit...|[{4007, McKinsey ...|[{linkedin, https...|
| 787025923|        Lynda Zhang|                    |Retail Ownership ...|                NULL|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NULL, NULL, Man...|[{linkedin, https...|
| 837503042|         Clara Ttu|                    |Apple Solutions C...|                NULL|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NULL, NULL, VP,...|[{linkedin, https...|
| 789056453|  Federico Maggiani|                    |Digital Marketing...|An enthusiastic, ...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{1079682, The Ki...|[{linkedin, https...|
|  57288072|  Anthony Salvaggio|Marion, New York, US| Carpe Facto @ Apple|A skilled communi...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|[{NULL, Monroe Co...|[{4096, Verizon, ...|[{linkedin, https...|
| 693540132|    Lika Razac-Ince|                    |Content & Product...|Two sides of a co...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{630326, Tag Wor...|[{linkedin, https...|
|1017713620|      Sarina Studer|                    |Talent Attraction...|A successful recr...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NULL, NULL, NUL...|[{linkedin, https...|
| 856482513|        Karl Dubost|                    |Open Web and Inte...|I'm a software en...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{11435247, W3C, ...|[{linkedin, https...|
| 118418234|     Kenny Sheridan|Merrick, New York...|Manager at Apple ...|                NULL|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{431544, Landry'...|[{linkedin, https...|
|  64876372|        David Coyle|Apex, North Carol...|Sr. iOS Engineer ...|IT professional w...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|[{NULL, Universit...|[{26, eBay, NULL,...|[{linkedin, https...|
| 741629676|  Iason Bakogiannis|                    |Software Engineer...|Dedicated and exp...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{53741, Affectv,...|[{linkedin, https...|
| 747062710|      Michael Huang|                    | Operations Director|Experienced Opera...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{1559058, Metal ...|[{linkedin, https...|
|  67121188|     Gurpreet Singh|San Antonio, Texa...|Sr Technical Prog...|Innovative and ch...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|[{8522590, Keller...|[{NULL, NULL, NUL...|[{linkedin, https...|
| 122883279|          Matt Aldo|                  US|   director at Apple|                NULL|2023-12-11 06:18:...|2023-10-18 23:07:...|7538cb11-1c23-4c7...|                NULL|[{1660, Apple, Di...|[{linkedin, https...|
| 993985187|      Eddie McGrory|                    |Market Leader at ...|Do your lifes be...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{9693901, Renais...|[{linkedin, https...|
|  52762066|    Kevin L. Fowler|Maryville, Tennes...|Instructional Des...|At the intersecti...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|[{NULL, Universit...|[{8563308, Knox C...|[{linkedin, https...|
| 745971556|      thomas gurney|                    |Principle Pedo at...|   big fat mama lama|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{205, LinkedIn, ...|[{linkedin, https...|
| 994637657|          Annie Cai|                    |              Retail|                NULL|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NULL, NULL, Man...|[{linkedin, https...|
| 124612718|      Brinda Pullen|                  US|HR consultant at ...|                NULL|2023-12-11 06:18:...|2023-10-14 21:35:...|7538cb11-1c23-4c7...|                NULL|[{2503, Dell, NUL...|[{linkedin, https...|
| 993308913|Francesco Squatrito|                    |Head of Partner M...|                NULL|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{11447675, TBWA\...|[{linkedin, https...|
+----------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

***Final Dataframe can be exported to files such as CSV, JSON, Parquet***

In [ ]:
# Use the exiting dataframe
final_df = people_person_customer_education_employments_social_urls_df

In [ ]:
final_df.show()

+----------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
| person_id|               name|             address|            headline|         description|          created_at|          updated_at|         customer_id|           education|         employments|                urls|
+----------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
| 949256266|        Vivian Weng|           SINGAPORE|Product Design, S...|                NULL|2023-12-11 06:18:...|                NULL|7538cb11-1c23-4c7...|[{NULL, Universit...|[{4007, McKinsey ...|[{linkedin, https...|
| 787025923|        Lynda Zhang|                    |Retail Ownership ...|                NULL|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NULL, NULL, Man...|[{linkedin, https...|
| 837503042|         Clara Ttu|                    |Apple Solutions C...|                NULL|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NULL, NULL, VP,...|[{linkedin, https...|
| 789056453|  Federico Maggiani|                    |Digital Marketing...|An enthusiastic, ...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{1079682, The Ki...|[{linkedin, https...|
|  57288072|  Anthony Salvaggio|Marion, New York, US| Carpe Facto @ Apple|A skilled communi...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|[{NULL, Monroe Co...|[{4096, Verizon, ...|[{linkedin, https...|
| 693540132|    Lika Razac-Ince|                    |Content & Product...|Two sides of a co...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{630326, Tag Wor...|[{linkedin, https...|
|1017713620|      Sarina Studer|                    |Talent Attraction...|A successful recr...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NULL, NULL, NUL...|[{linkedin, https...|
| 856482513|        Karl Dubost|                    |Open Web and Inte...|I'm a software en...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{11435247, W3C, ...|[{linkedin, https...|
| 118418234|     Kenny Sheridan|Merrick, New York...|Manager at Apple ...|                NULL|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{431544, Landry'...|[{linkedin, https...|
|  64876372|        David Coyle|Apex, North Carol...|Sr. iOS Engineer ...|IT professional w...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|[{NULL, Universit...|[{26, eBay, NULL,...|[{linkedin, https...|
| 741629676|  Iason Bakogiannis|                    |Software Engineer...|Dedicated and exp...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{53741, Affectv,...|[{linkedin, https...|
| 747062710|      Michael Huang|                    | Operations Director|Experienced Opera...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{1559058, Metal ...|[{linkedin, https...|
|  67121188|     Gurpreet Singh|San Antonio, Texa...|Sr Technical Prog...|Innovative and ch...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|[{8522590, Keller...|[{NULL, NULL, NUL...|[{linkedin, https...|
| 122883279|          Matt Aldo|                  US|   director at Apple|                NULL|2023-12-11 06:18:...|2023-10-18 23:07:...|7538cb11-1c23-4c7...|                NULL|[{1660, Apple, Di...|[{linkedin, https...|
| 993985187|      Eddie McGrory|                    |Market Leader at ...|Do your lifes be...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{9693901, Renais...|[{linkedin, https...|
|  52762066|    Kevin L. Fowler|Maryville, Tennes...|Instructional Des...|At the intersecti...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|[{NULL, Universit...|[{8563308, Knox C...|[{linkedin, https...|
| 745971556|      thomas gurney|                    |Principle Pedo at...|   big fat mama lama|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{205, LinkedIn, ...|[{linkedin, https...|
| 994637657|          Annie Cai|                    |              Retail|                NULL|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NULL, NULL, Man...|[{linkedin, https...|
| 124612718|      Brinda Pullen|                  US|HR consultant at ...|                NULL|2023-12-11 06:18:...|2023-10-14 21:35:...|7538cb11-1c23-4c7...|                NULL|[{2503, Dell, NUL...|[{linkedin, https...|
| 993308913|Francesco Squatrito|                    |Head of Partner M...|                NULL|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{11447675, TBWA\...|[{linkedin, https...|
+----------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
final_df.write.mode('overwrite').json('./work/final_df')

In [ ]:
# final_df.printSchema()

In [ ]:
import json

# Convert the DataFrame to a dictionary
json_dict = final_df.toJSON().collect()

# Write the dictionary to a JSON file
with open('./work/final_df/person_final_output.json', 'w') as f:
    json.dump(json_dict, f)

In [ ]:
final_df.write.parquet("final_output/df4.parquet")

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 36264)
Traceback (most recent call last):
  File "/opt/conda/lib/python3.11/socketserver.py", line 317, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/opt/conda/lib/python3.11/socketserver.py", line 348, in process_request
    self.finish_request(request, client_address)
  File "/opt/conda/lib/python3.11/socketserver.py", line 361, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/opt/conda/lib/python3.11/socketserver.py", line 755, in __init__
    self.handle()
  File "/usr/local/spark/python/pyspark/accumulators.py", line 295, in handle
    poll(accum_updates)
  File "/usr/local/spark/python/pyspark/accumulators.py", line 267, in poll
    if self.rfile in r and func():
                           ^^^^^^
  File "/usr/local/spark/python/pyspark/accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
                  ^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/spark/python/pyspark/serializers.py", line 596, in read_int
    raise EOFError
EOFError
----------------------------------------