In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import count, col, concat_ws, row_number, desc
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.sql.types import StructType, StructField, StringType, TimestampType
import pandas as pd
import os
import json

In [3]:
# Initialize SparkSession
spark = SparkSession.builder \
    .appName('aws_connection') \
    .getOrCreate()

In [4]:
# Preparing Master Pyspark DataFrame, Will have all the Features, 
# and the respective prompts will have specific features 

# Define the base path
base_path = '/home/jovyan/work/data_files/'

# Read CSV files into DataFrames
people_df = pd.read_csv(base_path + 'people.csv')
#person_customer_df = pd.read_csv(base_path + 'person_customers.csv')
person_educations_df = pd.read_csv(base_path + 'person_educations.csv')
person_employments_df = pd.read_csv(base_path + 'person_employments.csv')
#person_social_urls_df = pd.read_csv(base_path + 'person_social_urls.csv')
company_sectors_df = pd.read_csv(base_path + 'company_sectors.csv')
company_headcounts_df = pd.read_csv(base_path + 'company_headcounts.csv')
company_annual_revenues_df = pd.read_csv(base_path + 'company_annual_revenues.csv')
#company_stock_tickers_df = pd.read_csv(base_path + 'company_stock_tickers.csv')
#company_funding_rounds_df = pd.read_csv(base_path + 'company_funding_rounds.csv')

In [5]:
people_spark_df=spark.createDataFrame(people_df)
#person_customer_spark_df=spark.createDataFrame(person_customer_df)
person_educations_spark_df=spark.createDataFrame(person_educations_df)
person_employments_spark_df=spark.createDataFrame(person_employments_df)
#person_social_urls_spark_df=spark.createDataFrame(person_social_urls_df)
company_sectors_spark_df=spark.createDataFrame(company_sectors_df)
company_headcounts_spark_df=spark.createDataFrame(company_headcounts_df)
company_annual_revenues_spark_df=spark.createDataFrame(company_annual_revenues_df)
#company_stock_tickers_spark_df=spark.createDataFrame(company_stock_tickers_df)
#company_funding_rounds_spark_df=spark.createDataFrame(company_funding_rounds_df)

In [6]:
people_df = people_spark_df
#person_customer_df = person_customer_spark_df
person_educations_df = person_educations_spark_df
person_employments_df = person_employments_spark_df
#person_social_urls_df = person_social_urls_spark_df
company_sectors_df = company_sectors_spark_df
company_headcounts_df = company_headcounts_spark_df
company_annual_revenues_df = company_annual_revenues_spark_df
#company_stock_tickers_df = company_stock_tickers_spark_df
#company_funding_rounds_df = company_funding_rounds_spark_df

***Function to check the uniqueness of data***

In [7]:
def check_uniqueness(df, column_name):
    # Add a new column 'is_duplicate' that flags if column_name is duplicated
    df_duplicates_check = df.withColumn('is_duplicate', count(column_name).over(Window.partitionBy(column_name)) > 1)

    # If any 'is_duplicate' is True, then DataFrame is not unique based on column_name
    if df_duplicates_check.filter(col('is_duplicate')).count() > 0:
        print(f"DataFrame is not unique based on {column_name}")
    else:
        print(f"DataFrame is unique based on {column_name}")

In [8]:
check_uniqueness(people_df, 'id')

DataFrame is unique based on id

***Function to check the counts of data***

In [9]:
def count_records(df):
    """
    This function counts the number of records in a DataFrame.

    Parameters:
    df (DataFrame): The DataFrame for which to count the records.

    Returns:
    int: The number of records in the DataFrame.
    """
    # Use the count() function to count the number of rows in the DataFrame
    num_records = df.count()

    # Return the number of records
    return num_records

***People Table Transformation***

In [10]:
# Select specific columns from the 'people_df' DataFrame, rename the 'id' column to 'person_id',
# and concatenate 'address', 'city', 'region', 'postal_code', 'country' columns with a comma separator
people_selected_df = people_df.select('id', 'name', 'address', 'city', 'region', 'postal_code', 'country', 'headline','description', 'created_at', 'updated_at')\
                              .withColumnRenamed('id', 'person_id')\
                              .withColumn('address', concat_ws(', ', 'address', 'city', 'region', 'postal_code', 'country'))

people_selected_df = people_selected_df.select('person_id', 'name', 'address','headline','description', 'created_at', 'updated_at')

# people_selected_df.show()

In [11]:
count_records(people_selected_df)

999

***Transformation for the "person_customer" table***

In [12]:
count_records(person_customer_df)

# person_customer_df.show()

166

In [13]:
check_uniqueness(person_customer_df,'person_id')

DataFrame is not unique based on person_id

In [14]:
# Group by 'person_id' and count the number of occurrences of each 'person_id'
duplicate_rows = person_customer_df.groupBy('person_id').agg(count('*').alias('count'))

# Filter the rows where 'count' is greater than 1 (i.e., 'person_id' is duplicated)
duplicate_rows = duplicate_rows.filter(duplicate_rows['count'] > 1)

# Show the duplicate rows
duplicate_rows.show()
count_records(duplicate_rows)

+---------+-----+
|person_id|count|
+---------+-----+
|693540132|    2|
+---------+-----+

1

In [15]:
# Define a window partitioned by person_id and ordered by updated_at in descending order
window = Window.partitionBy("person_id").orderBy(desc("updated_at"))

# Add a row_number column to the DataFrame
person_customer_df = person_customer_df.withColumn("rn", row_number().over(window))

# Filter the DataFrame to keep only the rows with rn = 1 (i.e., the latest updated_at for each person_id)
person_customer_df = person_customer_df.filter(person_customer_df.rn == 1)

# Drop the rn column
person_customer_df = person_customer_df.drop("rn")

count_records(person_customer_df)

165

In [16]:
# Call the 'check_uniqueness' function on 'person_customer_df' DataFrame to check if 'person_id' is unique
check_uniqueness(person_customer_df,'person_id')

DataFrame is unique based on person_id

In [17]:
# Select 'person_id' and 'customer_id' columns from 'person_customer_df' DataFrame
people_selected_customer_df = person_customer_df.select('person_id', 'customer_id')

# Join 'people_selected_df' with 'people_selected_customer_df' on 'person_id'
people_person_customer_df = people_selected_df.join(people_selected_customer_df, on='person_id', how='left')

# people_person_customer_df.show()

In [18]:
count_records(people_person_customer_df)

999

***Transformation for "Person Education" table***

In [19]:
count_records(person_educations_df)
# person_educations_df.show()

1209

In [20]:
# Define a struct for each institute
institute_struct = F.struct(
    "institution_id", "institution_name", "degree", "subject", "started_on", "ended_on"
)

# Group by person_id and collect list of institute details as structs
grouped_educations_df = person_educations_df.groupBy("person_id").agg(
    F.collect_list(institute_struct).alias("education")
    # ("education - (institution_id, institution_name, degree, subject, started_on, ended_on)")
)

person_education_group_df = grouped_educations_df



# Show the result
# person_education_group_df.show(truncate=False)

In [21]:
check_uniqueness(person_education_group_df, 'person_id')

DataFrame is unique based on person_id

In [22]:
count_records(person_education_group_df)

500

In [23]:
# Joining person_education_group_df and people_person_customer_df DataFrames on column named 'person_id'

people_person_customer_education_df = people_person_customer_df.join(person_education_group_df, on='person_id', how='left') 

# people_person_customer_education_df.show()

count_records(people_person_customer_education_df)

999

***Transformation for Company related information***

In [24]:
count_records(company_sectors_df)

5711

In [25]:
# Group the DataFrame 'company_sectors_df' by 'company_id'
grouped_company_sectors_df = company_sectors_df.groupBy('company_id').agg(
    F.collect_list('sector').alias('sectors')
)

# Check the DataFrame 'grouped_company_sectors_df'
# grouped_company_sectors_df.show()

count_records(grouped_company_sectors_df)

1000

In [26]:
count_records(company_annual_revenues_df)

18532

In [27]:
# Define a window partitioned by 'company_id' and ordered by 'date' in descending order
window = Window.partitionBy('company_id').orderBy(F.desc('date'))

# Add a new column 'rank' to the DataFrame 'company_annual_revenues_df'
# The 'rank' is calculated over the defined window
grouped_company_annual_revenues_df = company_annual_revenues_df.withColumn('rank', F.rank().over(window))

# Filter the DataFrame to keep only the rows where 'rank' is 1
# This gives us the latest annual revenue for each company
# Select only the 'company_id' and 'amount_usd' columns for the final DataFrame
latest_company_annual_revenues_df = grouped_company_annual_revenues_df.filter(F.col('rank') == 1).select('company_id', 'amount_usd')

# Check the DataFrame 'latest_company_annual_revenues_df'
# latest_company_annual_revenues_df.show()

count_records(latest_company_annual_revenues_df)

999

In [28]:
count_records(company_headcounts_df)

1000

In [29]:
# Define a window partitioned by 'headcount' and ordered by 'date' in descending order
window = Window.partitionBy('headcount').orderBy(F.desc('date'))

# Add a new column 'rank' to the DataFrame 'company_headcounts_df'
# The 'rank' is calculated over the defined window
grouped_company_headcounts_df = company_headcounts_df.withColumn('rank', F.rank().over(window))

# Filter the DataFrame to keep only the rows where 'rank' is 1
# This gives us the latest headcount for each company
# Select only the 'company_id' and 'headcount' columns for the final DataFrame
latest_company_headcounts_df = grouped_company_headcounts_df.filter(F.col('rank') == 1).select('company_id', 'headcount')

# Check the DataFrame 'latest_company_headcounts_df'
# latest_company_headcounts_df.show()

count_records(latest_company_headcounts_df)

847

In [30]:
# Select the 'company_id' and 'stock_ticker' columns from the DataFrame 'company_stock_tickers_df'
selected_company_stock_tickers_df = company_stock_tickers_df.select('company_id','stock_ticker')
count_records(selected_company_stock_tickers_df)

1000

In [31]:
# Define a Window specification: partition by 'company_id' and order by 'company_id', 'date' (in descending order), and 'updated_at' (in descending order)
windowSpec = Window.partitionBy(company_funding_rounds_df['company_id']).orderBy(company_funding_rounds_df['company_id'], company_funding_rounds_df['date'].desc(), company_funding_rounds_df['updated_at'].desc())

# Add a new column 'rn' to the DataFrame 'company_funding_rounds_df' which contains row numbers within each window partition
grouped_company_funding_rounds_df = company_funding_rounds_df.withColumn("rn", row_number().over(windowSpec))

# Filter the DataFrame to keep only the rows with 'rn' equal to 1 (i.e., the most recent funding round for each company), then drop the 'rn' column
filtered_company_funding_rounds_df = grouped_company_funding_rounds_df.filter(col("rn") == 1).drop("rn")

# Select the columns 'company_id', 'name', 'investor_company_id', and 'investor' from the filtered DataFrame
filtered_company_funding_rounds_df.select('company_id','name', 'investor_company_id','investor')

DataFrame[company_id: bigint, name: string, investor_company_id: double, investor: string]

***Joined the company information related transformed dataframes***

In [32]:

# Join the DataFrame 'grouped_company_sectors_df' with 'latest_company_annual_revenues_df', 'latest_company_headcounts_df', and 'selected_company_stock_tickers_df' on 'company_id'
# The join type is 'left', meaning only the rows with a match in both DataFrames will be kept
company_info_joined_df = grouped_company_sectors_df.join(
    latest_company_annual_revenues_df, 'company_id', 'left'
).join(
    latest_company_headcounts_df, 'company_id', 'left'
).join(
    selected_company_stock_tickers_df, 'company_id', 'left'
).join(
    filtered_company_funding_rounds_df, 'company_id', 'left'
)

# count_records(company_info_joined_df)

# Select the 'company_id', 'amount_usd', 'headcount', and 'stock_ticker' columns from the joined DataFrame
resultant_company_info_joined_df = company_info_joined_df.select(
    'company_id',
    company_info_joined_df['name'].alias('funding_name'), 'investor_company_id','investor',
    latest_company_annual_revenues_df['amount_usd'],
    latest_company_headcounts_df['headcount'],
    selected_company_stock_tickers_df['stock_ticker']
)

# Check the DataFrame 'resultant_company_info_joined_df'
# resultant_company_info_joined_df.show()

count_records(resultant_company_info_joined_df)

1000

***Transformation for the Person Employment Table***

In [33]:
# Join the DataFrames on 'company_id'
resultant_company_info_employment_joined_df = person_employments_df.join(resultant_company_info_joined_df, 'company_id', 'left')

count_records(resultant_company_info_employment_joined_df)

# Define a new struct that includes the additional columns
emplopyment_struct = F.struct(
    "company_id", "company_name", "seniority_level", "title", "started_on", "ended_on",
    resultant_company_info_joined_df['amount_usd'],
    resultant_company_info_joined_df['headcount'],
    resultant_company_info_joined_df['stock_ticker'],
    resultant_company_info_joined_df['funding_name'],
    resultant_company_info_joined_df['investor_company_id'],
    resultant_company_info_joined_df['investor']

)

# Group by 'person_id' and collect list of employment details as structs
grouped_person_employments_df = resultant_company_info_employment_joined_df.groupBy("person_id").agg(
    F.collect_list(emplopyment_struct).alias("employments")
)

grouped_person_employments_df.show(1,truncate=False)


count_records(person_employments_df)

+---------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|person_id|employments                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |
+---------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|101255   |[{20556.0, M/A-COM, NaN, Member Of Technical Staff, 1982-01-01, 1984-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {387.0, AOL, NaN, Senior Software Developer, 1998-01-01, 2001-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {4207.0, Netscape, Manager, Calendar Server Development Manager, 1996-01-01, 1998-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {1660.0, Apple, NaN, Engineering Leader for Analytics and Data Products in Apple Media, 2016-10-01, NaN, 3.1949031445E10, 224704, AAPL, Private Equity, 6084.0, Interscope Records}, {1660.0, Apple, Head of ..., Head Of Foundation, Apple Online Store Engineering, 2015-08-01, 2016-10-01, 3.1949031445E10, 224704, AAPL, Private Equity, 6084.0, Interscope Records}, {77025.0, Yotta Technologies, NaN, Co-Founder, 2011-12-01, 2013-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {7854.0, Micro Focus, NaN, Senior Software Engineer, 1990-01-01, 1994-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {1.0692885E7, Zip2save.Com, NaN, Senior Software Engineer, 1996-01-01, 1996-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {13385.0, FirstRain, VP, Vice President Of Engineering Operations, 2013-01-01, 2015-07-01, NULL, NULL, NULL, NULL, NULL, NULL}, {9307194.0, Onlive Technologies, NaN, Senior Software Developer, 1994-01-01, 1996-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {171553.0, GRiD Systems, NaN, Software Developer, 1984-01-01, 1990-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {26.0, eBay, CXO, Chief Technology Officer Of Local Classifieds, 2007-09-01, 2011-06-01, NULL, NULL, NULL, NULL, NULL, NULL}, {26.0, eBay, NaN, Staff Software Engineer, 2001-04-01, 2001-12-01, NULL, NULL, NULL, NULL, NULL, NULL}, {26.0, eBay, Director, Technology Director, 2002-01-01, 2007-08-01, NULL, NULL, NULL, NULL, NULL, NULL}]|
+---------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 1 row

7898

In [34]:
# Join the DataFrame 'people_person_customer_education_df' with 'person_employments_df' on 'person_id'
# The resulting DataFrame contains information about a person's education and employment
people_person_customer_education_educations_df = people_person_customer_education_df.join(grouped_person_employments_df, on='person_id', how='left') 

# people_person_customer_education_educations_df.show()

count_records(people_person_customer_education_educations_df)

999

***Transformation for the Person Social Urls Table***

In [35]:
# Group by person_id and collect list of URL details
grouped_urls_df = person_social_urls_df.groupBy("person_id").agg(
    F.collect_list(
        F.struct("url_type", "url")
    ).alias("urls")
)

# Show the result
# grouped_urls_df.show(truncate=False)

count_records(grouped_urls_df)

999

In [36]:
check_uniqueness(grouped_urls_df, 'person_id')

DataFrame is unique based on person_id

In [37]:
# Joining person_education_group_df and people_person_customer_df DataFrames on column named 'person_id'

people_person_customer_education_employments_social_urls_df = people_person_customer_education_educations_df.join(grouped_urls_df, on='person_id', how='left') 

count_records(people_person_customer_education_employments_social_urls_df)

999

In [38]:
check_uniqueness(people_person_customer_education_employments_social_urls_df, 'person_id')

DataFrame is unique based on person_id

***Final Dataframe***

In [39]:
# people_person_customer_education_employments_social_urls_df.printSchema()

In [40]:
people_person_customer_education_employments_social_urls_df.show()

+----------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
| person_id|               name|             address|            headline|         description|          created_at|          updated_at|         customer_id|           education|         employments|                urls|
+----------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
| 949256266|        Vivian Weng|NaN, NaN, NaN, Na...|Product Design, S...|                 NaN|2023-12-11 06:18:...|                 NaN|7538cb11-1c23-4c7...|[{NaN, University...|[{7962172.0, Frog...|[{linkedin, https...|
| 787025923|        Lynda Zhang|NaN, NaN, NaN, Na...|Retail Ownership ...|                 NaN|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NaN, NaN, Manag...|[{linkedin, https...|
| 837503042|         Clara Têtu|NaN, NaN, NaN, Na...|Apple Solutions C...|                 NaN|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{400708.0, Clari...|[{linkedin, https...|
| 789056453|  Federico Maggiani|NaN, NaN, NaN, Na...|Digital Marketing...|An enthusiastic, ...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{40487.0, MindSh...|[{linkedin, https...|
|  57288072|  Anthony Salvaggio|NaN, Marion, New ...| Carpe Facto @ Apple|A skilled communi...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|[{NaN, Monroe Com...|[{1660.0, Apple, ...|[{linkedin, https...|
| 693540132|    Lika Razac-Ince|NaN, NaN, NaN, Na...|Content & Product...|Two sides of a co...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NaN, NaN, NaN, ...|[{linkedin, https...|
|1017713620|      Sarina Studer|NaN, NaN, NaN, Na...|Talent Attraction...|A successful recr...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NaN, NaN, NaN, ...|[{linkedin, https...|
| 856482513|        Karl Dubost|NaN, NaN, NaN, Na...|Open Web and Inte...|I'm a software en...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NaN, NaN, Manag...|[{linkedin, https...|
| 118418234|     Kenny Sheridan|NaN, Merrick, New...|Manager at Apple ...|                 NaN|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NaN, NaN, NaN, ...|[{linkedin, https...|
|  64876372|        David Coyle|NaN, Apex, North ...|Sr. iOS Engineer ...|IT professional w...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|[{NaN, University...|[{4376.0, Blackbe...|[{linkedin, https...|
| 741629676|  Iason Bakogiannis|NaN, NaN, NaN, Na...|Software Engineer...|Dedicated and exp...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{53741.0, Affect...|[{linkedin, https...|
| 747062710|      Michael Huang|NaN, NaN, NaN, Na...| Operations Director|Experienced Opera...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{112124.0, Motor...|[{linkedin, https...|
|  67121188|     Gurpreet Singh|NaN, San Antonio,...|Sr Technical Prog...|Innovative and ch...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|[{8522590.0, Kell...|[{NaN, NaN, NaN, ...|[{linkedin, https...|
| 122883279|          Matt Aldo|NaN, NaN, NaN, Na...|   director at Apple|                 NaN|2023-12-11 06:18:...|2023-10-18 23:07:...|7538cb11-1c23-4c7...|                NULL|[{1660.0, Apple, ...|[{linkedin, https...|
| 993985187|      Eddie McGrory|NaN, NaN, NaN, Na...|Market Leader at ...|Do your life’s be...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{266875.0, Dixon...|[{linkedin, https...|
|  52762066|    Kevin L. Fowler|NaN, Maryville, T...|Instructional Des...|At the intersecti...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|[{NaN, University...|[{8563308.0, Knox...|[{linkedin, https...|
| 745971556|      thomas gurney|NaN, NaN, NaN, Na...|Principle Pedo at...|   big fat mama lama|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{1660.0, Apple, ...|[{linkedin, https...|
| 994637657|          Annie Cai|NaN, NaN, NaN, Na...|              Retail|                 NaN|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NaN, NaN, Manag...|[{linkedin, https...|
| 124612718|      Brinda Pullen|NaN, NaN, NaN, Na...|HR consultant at ...|                 NaN|2023-12-11 06:18:...|2023-10-14 21:35:...|7538cb11-1c23-4c7...|                NULL|[{1660.0, Apple, ...|[{linkedin, https...|
| 993308913|Francesco Squatrito|NaN, NaN, NaN, Na...|Head of Partner M...|                 NaN|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{412007.0, Leaga...|[{linkedin, https...|
+----------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

***Final Dataframe can be exported to files such as CSV, JSON, Parquet***

In [41]:
# Use the exiting dataframe
final_df = people_person_customer_education_employments_social_urls_df

In [42]:
final_df.show(1,truncate=False)

+---------+---------------+-----------------------+----------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+----------------------+------------------------------------+---------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------+
|person_id|name           |address                |headline                          |description                                                                                                                                                                                                                                                                                                                                                                                      |created_at               |updated_at            |customer_id                         |education|employments                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |urls                                                             |
+---------+---------------+-----------------------+----------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+----------------------+------------------------------------+---------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------+
|693540132|Lika Razac-Ince|NaN, NaN, NaN, NaN, NaN|Content & Production Lead at Apple|Two sides of a coin... 7+ years experience of building and leading digital teams of producers, designers and developers. A strong team ethic and collaboration are at the core of how I lead and work within teams across projects.\n\nSecond side... Photographer capturing the candid subtleties in life. Documentary/reportage, behind the scenes, work life photography and that street life.|2023-12-11 06:18:08.13904|2023-10-26 15:57:22.35|7538cb11-1c23-4c76-87c7-5111a0f166dc|NULL     |[{NaN, NaN, NaN, Professional Photographer, 2018-04-01, NaN, NULL, NULL, NULL, NULL, NULL, NULL}, {NaN, NaN, NaN, Flash Designer/Artworker/, 2001-06-01, 2004-06-01, NULL, NULL, NULL, NULL, NULL, NULL}, {NaN, NaN, NaN, Flash designer, 2004-01-01, 2006-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {8911699.0, Interventional Pain & Physical Medicine Clinic, Head of ..., Head of Digital, 2006-11-01, 2012-04-01, NULL, NULL, NULL, NULL, NULL, NULL}, {1660.0, Apple, NaN, Content & Production Lead - Europe, 2022-01-01, NaN, 3.1949031445E10, 224704, AAPL, Private Equity, 6084.0, Interscope Records}, {728919.0, Bluedog, NaN, Project Management Consultant, 2020-06-01, 2020-11-01, NULL, NULL, NULL, NULL, NULL, NULL}, {14755.0, Agenda-Asia, NaN, Senior Project Management, 2018-04-01, 2019-12-01, NULL, NULL, NULL, NULL, NULL, NULL}, {630326.0, Tag Worldwide, NaN, Production Lead, 2020-12-01, 2022-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {61767.0, Karmarama, Head of ..., Head of Digital Delivery, 2014-03-01, 2018-03-01, NULL, NULL, NULL, NULL, NULL, NULL}, {61767.0, Karmarama, Director, Project Director (Freelance), 2013-11-01, 2014-03-01, NULL, NULL, NULL, NULL, NULL, NULL}, {1087587.0, Self Employed, NaN, Freelance SNR Project Management / PD / Head of, 2018-04-01, 2020-12-01, NULL, NULL, NULL, NULL, NULL, NULL}, {1.1549668E7, Dentsu Creative, Head of ..., Head of Digital production, 2012-04-01, 2013-10-01, NULL, NULL, NULL, NULL, NULL, NULL}, {7711674.0, Ekino London, Director, Freelance Project Director, 2020-01-01, 2020-05-01, NULL, NULL, NULL, NULL, NULL, NULL}]|[{linkedin, https://www.linkedin.com/in/lika-razac-ince-2044385}]|
+---------+---------------+-----------------------+----------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+----------------------+------------------------------------+---------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------+
only showing top 1 row

In [43]:
final_df.write.mode('overwrite').json('./work/final_df')

In [44]:
final_df.printSchema()

root
 |-- person_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = false)
 |-- headline: string (nullable = true)
 |-- description: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- updated_at: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- education: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- institution_id: double (nullable = true)
 |    |    |-- institution_name: string (nullable = true)
 |    |    |-- degree: string (nullable = true)
 |    |    |-- subject: string (nullable = true)
 |    |    |-- started_on: string (nullable = true)
 |    |    |-- ended_on: string (nullable = true)
 |-- employments: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- company_id: double (nullable = true)
 |    |    |-- company_name: string (nullable = true)
 |    |    |-- seniority_level: string (nullable = true)
 |    |    |-- title: string (nullable = true)
 |    |    |-- started_on: string (nullable = true)
 |    |    |-- ended_on: string (nullable = true)
 |    |    |-- amount_usd: double (nullable = true)
 |    |    |-- headcount: long (nullable = true)
 |    |    |-- stock_ticker: string (nullable = true)
 |    |    |-- funding_name: string (nullable = true)
 |    |    |-- investor_company_id: double (nullable = true)
 |    |    |-- investor: string (nullable = true)
 |-- urls: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- url_type: string (nullable = true)
 |    |    |-- url: string (nullable = true)

In [45]:
final_df.write.mode("overwrite").parquet("final_output/df4.parquet")

In [46]:
df = spark.read.parquet("final_output/df4.parquet")

In [47]:
df.show(1)

+---------+-----------+--------------------+--------------------+-----------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+
|person_id|       name|             address|            headline|description|          created_at|updated_at|         customer_id|           education|         employments|                urls|
+---------+-----------+--------------------+--------------------+-----------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+
|949256266|Vivian Weng|NaN, NaN, NaN, Na...|Product Design, S...|        NaN|2023-12-11 06:18:...|       NaN|7538cb11-1c23-4c7...|[{NaN, University...|[{7962172.0, Frog...|[{linkedin, https...|
+---------+-----------+--------------------+--------------------+-----------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+
only showing top 1 row

In [48]:
df.printSchema()

root
 |-- person_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- headline: string (nullable = true)
 |-- description: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- updated_at: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- education: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- institution_id: double (nullable = true)
 |    |    |-- institution_name: string (nullable = true)
 |    |    |-- degree: string (nullable = true)
 |    |    |-- subject: string (nullable = true)
 |    |    |-- started_on: string (nullable = true)
 |    |    |-- ended_on: string (nullable = true)
 |-- employments: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- company_id: double (nullable = true)
 |    |    |-- company_name: string (nullable = true)
 |    |    |-- seniority_level: string (nullable = true)
 |    |    |-- title: string (nullable = true)
 |    |    |-- started_on: string (nullable = true)
 |    |    |-- ended_on: string (nullable = true)
 |    |    |-- amount_usd: double (nullable = true)
 |    |    |-- headcount: long (nullable = true)
 |    |    |-- stock_ticker: string (nullable = true)
 |    |    |-- funding_name: string (nullable = true)
 |    |    |-- investor_company_id: double (nullable = true)
 |    |    |-- investor: string (nullable = true)
 |-- urls: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- url_type: string (nullable = true)
 |    |    |-- url: string (nullable = true)

In [49]:
#date 16052024 -Dropping features, customize features specific to the tag prompt tunning
columns_to_drop = ["address", "headline",  "created_at", "updated_at", "customer_id", "funding_name", "investor_company_id", "investor", "urls"]
df1 = df.drop(*columns_to_drop)

In [50]:
#date 16052024 -Dropping features,
from pyspark.sql.functions import expr

# Transform the 'employments' array, removing 'funding_name' field
df1 = df1.withColumn(
    "employments",
    expr("transform(employments, x -> named_struct('company_id', x.company_id, 'company_name', x.company_name, 'seniority_level', x.seniority_level, 'title', x.title, 'started_on', x.started_on, 'ended_on', x.ended_on, 'amount_usd', x.amount_usd, 'headcount', x.headcount, 'stock_ticker', x.stock_ticker))")
)

In [51]:
df1.printSchema()

root
 |-- person_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- education: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- institution_id: double (nullable = true)
 |    |    |-- institution_name: string (nullable = true)
 |    |    |-- degree: string (nullable = true)
 |    |    |-- subject: string (nullable = true)
 |    |    |-- started_on: string (nullable = true)
 |    |    |-- ended_on: string (nullable = true)
 |-- employments: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- company_id: double (nullable = true)
 |    |    |-- company_name: string (nullable = true)
 |    |    |-- seniority_level: string (nullable = true)
 |    |    |-- title: string (nullable = true)
 |    |    |-- started_on: string (nullable = true)
 |    |    |-- ended_on: string (nullable = true)
 |    |    |-- amount_usd: double (nullable = true)
 |    |    |-- headcount: long (nullable = true)
 |    |    |-- stock_ticker: string (nullable = true)

In [52]:
df1.show(1)

+---------+-----------+-----------+--------------------+--------------------+
|person_id|       name|description|           education|         employments|
+---------+-----------+-----------+--------------------+--------------------+
|949256266|Vivian Weng|        NaN|[{NaN, University...|[{7962172.0, Frog...|
+---------+-----------+-----------+--------------------+--------------------+
only showing top 1 row

In [53]:
#date 16052024 -Build specific features, prompt tunning
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, LongType, StringType, ArrayType

# Define the schema for the DataFrame
schema = StructType([
    StructField("person_id", LongType(), True),
    StructField("name", StringType(), True),
    StructField("description", StringType(), True),
    StructField("education", ArrayType(StructType([
        StructField("institution_id", StringType(), True),
        StructField("institution_name", StringType(), True),
        StructField("degree", StringType(), True),
        StructField("subject", StringType(), True),
        StructField("started_on", StringType(), True),
        StructField("ended_on", StringType(), True)
    ])), True),
    StructField("employments", ArrayType(StructType([
        StructField("company_id", LongType(), True),
        StructField("company_name", StringType(), True),
        StructField("seniority_level", StringType(), True),
        StructField("title", StringType(), True),
        StructField("started_on", StringType(), True),
        StructField("ended_on", StringType(), True),
        StructField("amount_usd", LongType(), True),
        StructField("headcount", LongType(), True),
        StructField("stock_ticker", StringType(), True)
    ])), True)
])

In [54]:
json_df = df1.toJSON()

# Count the number of objects
num_objects = json_df.count()
print("Number of objects:", num_objects)

# Print the first object
first_object = json_df.first()
print("First object:")
print(first_object)

Number of objects: 999
First object:
{"person_id":949256266,"name":"Vivian Weng","description":"NaN","education":[{"institution_id":"NaN","institution_name":"University of California, Berkeley - Walter A. Haas School of Business","degree":"NaN","subject":"MBA, Finance","started_on":"2007-01-01","ended_on":"2009-01-01"},{"institution_id":"NaN","institution_name":"National Taiwan University","degree":"NaN","subject":"BA, International Relations","started_on":"1998-01-01","ended_on":"2002-01-01"},{"institution_id":"NaN","institution_name":"Yale University","degree":"NaN","subject":"MA, International Developmental Economics","started_on":"2002-01-01","ended_on":"2003-01-01"}],"employments":[{"company_id":7962172.0,"company_name":"Frog","seniority_level":"Director","title":"Associate Strategy Director, Innovation Strategy Group","started_on":"2012-02-01","ended_on":"2016-06-01"},{"company_id":15861.0,"company_name":"DBS Bank","seniority_level":"VP","title":"Vice President, Innovation Group","started_on":"2016-07-01","ended_on":"2019-04-01"},{"company_id":1660.0,"company_name":"Apple","seniority_level":"NaN","title":"Product Design Producer, International Product Design","started_on":"2019-04-01","ended_on":"NaN","amount_usd":3.1949031445E10,"headcount":224704,"stock_ticker":"AAPL"},{"company_id":59.0,"company_name":"Goldman Sachs","seniority_level":"NaN","title":"Investment Banking Division Summer Associate","started_on":"2008-06-01","ended_on":"2008-08-01","amount_usd":8.417546311E9,"headcount":75859,"stock_ticker":"GS"},{"company_id":4007.0,"company_name":"McKinsey & Company","seniority_level":"NaN","title":"Business Analyst","started_on":"2004-01-01","ended_on":"2007-01-01"},{"company_id":4007.0,"company_name":"McKinsey & Company","seniority_level":"NaN","title":"Senior Associate, Corporate Finance","started_on":"2009-09-01","ended_on":"2011-11-01"}]}

In [55]:
def save_json_objects(json_df, file_path):
    """
    Save all JSON objects in a DataFrame to a JSON file.

    Args:
        json_df (DataFrame): DataFrame containing JSON objects.
        file_path (str): The path where the JSON file will be saved.
    """
    json_objects = json_df.collect()  # Collect all JSON objects
    with open(file_path, 'w') as file:
        for json_obj in json_objects:
            file.write(json_obj + '\n')  # Write each JSON object to file
    print(f"All JSON objects saved to file: {file_path}")

In [56]:
save_json_objects(json_df, "input_people_data.json")

All JSON objects saved to file: input_people_data.json

In [57]:
print("\n****************completed ******************")

****************completed ******************