In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import count, col, concat_ws, row_number, desc
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.sql.types import StructType, StructField, StringType, TimestampType
import pandas as pd
import os
import json

In [2]:
# Initialize SparkSession
spark = SparkSession.builder \
    .appName('aws_connection') \
    .getOrCreate()

In [3]:
# Define the base path
base_path = '/home/jovyan/work/data_files/'

# Read CSV files into DataFrames
people_df = pd.read_csv(base_path + 'people.csv')
person_customer_df = pd.read_csv(base_path + 'person_customers.csv')
person_educations_df = pd.read_csv(base_path + 'person_educations.csv')
person_employments_df = pd.read_csv(base_path + 'person_employments.csv')
person_social_urls_df = pd.read_csv(base_path + 'person_social_urls.csv')
company_sectors_df = pd.read_csv(base_path + 'company_sectors.csv')
company_headcounts_df = pd.read_csv(base_path + 'company_headcounts.csv')
company_annual_revenues_df = pd.read_csv(base_path + 'company_annual_revenues.csv')
company_stock_tickers_df = pd.read_csv(base_path + 'company_stock_tickers.csv')
company_funding_rounds_df = pd.read_csv(base_path + 'company_funding_rounds.csv')

In [4]:
company_funding_rounds_df.columns

Index(['id', 'company_id', 'amount_usd', 'name', 'investor', 'date',
       'created_at', 'updated_at', 'investor_person_id',
       'investor_company_id'],
      dtype='object')

In [5]:
people_spark_df=spark.createDataFrame(people_df)
person_customer_spark_df=spark.createDataFrame(person_customer_df)
person_educations_spark_df=spark.createDataFrame(person_educations_df)
person_employments_spark_df=spark.createDataFrame(person_employments_df)
person_social_urls_spark_df=spark.createDataFrame(person_social_urls_df)
company_sectors_spark_df=spark.createDataFrame(company_sectors_df)
company_headcounts_spark_df=spark.createDataFrame(company_headcounts_df)
company_annual_revenues_spark_df=spark.createDataFrame(company_annual_revenues_df)
company_stock_tickers_spark_df=spark.createDataFrame(company_stock_tickers_df)
company_funding_rounds_spark_df=spark.createDataFrame(company_funding_rounds_df)

In [6]:
people_spark_df.show(1,truncate=False)

+---------+---------------+---------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+----+------+-----------+-------+------------+---------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+----------------------------------+----------+--------+----------+-------------------------+----------------------+
|id       |name           |linkedin_url                                       |photo_url                                                                                                                                                                       |address|city|region|postal_code|country|company_name|seniority_level|description                                                                                                                                                                                                                                                                                                                                                                                      |title                    |headline                          |started_on|ended_on|company_id|created_at               |updated_at            |
+---------+---------------+---------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+----+------+-----------+-------+------------+---------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+----------------------------------+----------+--------+----------+-------------------------+----------------------+
|693540132|Lika Razac-Ince|https://www.linkedin.com/in/lika-razac-ince-2044385|https://media-exp1.licdn.com/dms/image/C4E03AQHCo31R4NKzKQ/profile-displayphoto-shrink_200_200/0/1643714250607?e=2147483647&v=beta&t=C_VoMB64-_PmpaiY6zqtXaZewsWqpeg9l5-EE5PlEIY|NaN    |NaN |NaN   |NaN        |NaN    |NaN         |NaN            |Two sides of a coin... 7+ years experience of building and leading digital teams of producers, designers and developers. A strong team ethic and collaboration are at the core of how I lead and work within teams across projects.\n\nSecond side... Photographer capturing the candid subtleties in life. Documentary/reportage, behind the scenes, work life photography and that street life.|Professional Photographer|Content & Production Lead at Apple|2018-04-01|NaN     |NaN       |2023-12-11 06:18:08.13904|2023-10-26 15:57:22.35|
+---------+---------------+---------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+----+------+-----------+-------+------------+---------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+----------------------------------+----------+--------+----------+-------------------------+----------------------+
only showing top 1 row

In [7]:
person_customer_spark_df.show(1,truncate=False)

+---+---------+------------------------------------+--------------------------+--------------------------+
|id |person_id|customer_id                         |created_at                |updated_at                |
+---+---------+------------------------------------+--------------------------+--------------------------+
|1  |693540132|14b76a2f-4545-4fb7-92e9-ecd3a5f49a4b|2023-12-18 11:12:06.004224|2023-12-18 11:12:06.004224|
+---+---------+------------------------------------+--------------------------+--------------------------+
only showing top 1 row

In [8]:
person_educations_spark_df.show(1,truncate=False)

+-----+---------+--------------+---------------------+-----------------------------+-------+----------+----------+--------------------------+----------+
|id   |person_id|institution_id|institution_name     |degree                       |subject|started_on|ended_on  |created_at                |updated_at|
+-----+---------+--------------+---------------------+-----------------------------+-------+----------+----------+--------------------------+----------+
|12091|64876372 |NaN           |University Of Windsor|Bachelors;Bachelor Of Science|Geology|1980-01-01|1984-01-01|2023-12-11 06:18:37.445885|NaN       |
+-----+---------+--------------+---------------------+-----------------------------+-------+----------+----------+--------------------------+----------+
only showing top 1 row

In [9]:
person_employments_spark_df.show(1,truncate=False)

+-----+---------+----------+------------+---------------+-------------------------+----------+--------+--------------------------+----------+
|id   |person_id|company_id|company_name|seniority_level|title                    |started_on|ended_on|created_at                |updated_at|
+-----+---------+----------+------------+---------------+-------------------------+----------+--------+--------------------------+----------+
|78981|693540132|NaN       |NaN         |NaN            |Professional Photographer|2018-04-01|NaN     |2023-12-11 06:18:49.396966|NaN       |
+-----+---------+----------+------------+---------------+-------------------------+----------+--------+--------------------------+----------+
only showing top 1 row

In [10]:
person_social_urls_spark_df.show(1,truncate=False)

+-----+---------+---------------------------------------------------+--------+-------------------------+----------+
|id   |person_id|url                                                |url_type|created_at               |updated_at|
+-----+---------+---------------------------------------------------+--------+-------------------------+----------+
|12791|693540132|https://www.linkedin.com/in/lika-razac-ince-2044385|linkedin|2023-12-11 06:18:57.46109|NaN       |
+-----+---------+---------------------------------------------------+--------+-------------------------+----------+
only showing top 1 row

In [11]:
company_sectors_spark_df.show(1,truncate=False)

+--------+----------+--------+-------------------------+----------+
|id      |company_id|sector  |created_at               |updated_at|
+--------+----------+--------+-------------------------+----------+
|13733483|1660      |Hardware|2023-12-29 05:22:34.30253|NaN       |
+--------+----------+--------+-------------------------+----------+
only showing top 1 row

In [12]:
company_headcounts_spark_df.show(1,truncate=False)

+-------+----------+---------+----------+--------------------------+----------+
|id     |company_id|headcount|date      |created_at                |updated_at|
+-------+----------+---------+----------+--------------------------+----------+
|3214741|1660      |224704   |2023-06-07|2023-12-29 05:22:34.148533|NaN       |
+-------+----------+---------+----------+--------------------------+----------+
only showing top 1 row

In [13]:
company_annual_revenues_spark_df.show(1,truncate=False)

+------+----------+----------+----------+--------------------------+----------+
|id    |company_id|amount_usd|date      |created_at                |updated_at|
+------+----------+----------+----------+--------------------------+----------+
|222385|1660      |7.983E9   |2000-01-01|2023-12-29 05:22:34.013999|NaN       |
+------+----------+----------+----------+--------------------------+----------+
only showing top 1 row

In [14]:
company_stock_tickers_spark_df.show(1,truncate=False)

+-----+----------+------------+--------------------------+----------+
|id   |company_id|stock_ticker|created_at                |updated_at|
+-----+----------+------------+--------------------------+----------+
|56464|1660      |AAPL        |2023-12-29 05:22:34.410075|NaN       |
+-----+----------+------------+--------------------------+----------+
only showing top 1 row

In [15]:
company_funding_rounds_spark_df.show(1,truncate=False)

+------+----------+----------+--------+--------+----------+--------------------------+----------+------------------+-------------------+
|id    |company_id|amount_usd|name    |investor|date      |created_at                |updated_at|investor_person_id|investor_company_id|
+------+----------+----------+--------+--------+----------+--------------------------+----------+------------------+-------------------+
|388060|1         |2.5E7     |Series C|Accel   |2008-05-19|2023-11-28 09:25:43.506321|NaN       |NaN               |7.0                |
+------+----------+----------+--------+--------+----------+--------------------------+----------+------------------+-------------------+
only showing top 1 row

In [16]:
people_df = people_spark_df
person_customer_df = person_customer_spark_df
person_educations_df = person_educations_spark_df
person_employments_df = person_employments_spark_df
person_social_urls_df = person_social_urls_spark_df
company_sectors_df = company_sectors_spark_df
company_headcounts_df = company_headcounts_spark_df
company_annual_revenues_df = company_annual_revenues_spark_df
company_stock_tickers_df = company_stock_tickers_spark_df
company_funding_rounds_df = company_funding_rounds_spark_df

In [17]:
person_customer_df

DataFrame[id: bigint, person_id: bigint, customer_id: string, created_at: string, updated_at: string]

***Function to check the uniqueness of data***

In [18]:
def check_uniqueness(df, column_name):
    # Add a new column 'is_duplicate' that flags if column_name is duplicated
    df_duplicates_check = df.withColumn('is_duplicate', count(column_name).over(Window.partitionBy(column_name)) > 1)

    # If any 'is_duplicate' is True, then DataFrame is not unique based on column_name
    if df_duplicates_check.filter(col('is_duplicate')).count() > 0:
        print(f"DataFrame is not unique based on {column_name}")
    else:
        print(f"DataFrame is unique based on {column_name}")

In [19]:
check_uniqueness(people_df, 'id')

DataFrame is unique based on id

***Function to check the counts of data***

In [20]:
def count_records(df):
    """
    This function counts the number of records in a DataFrame.

    Parameters:
    df (DataFrame): The DataFrame for which to count the records.

    Returns:
    int: The number of records in the DataFrame.
    """
    # Use the count() function to count the number of rows in the DataFrame
    num_records = df.count()

    # Return the number of records
    return num_records

***People Table Transformation***

In [21]:
# Select specific columns from the 'people_df' DataFrame, rename the 'id' column to 'person_id',
# and concatenate 'address', 'city', 'region', 'postal_code', 'country' columns with a comma separator
people_selected_df = people_df.select('id', 'name', 'address', 'city', 'region', 'postal_code', 'country', 'headline','description', 'created_at', 'updated_at')\
                              .withColumnRenamed('id', 'person_id')\
                              .withColumn('address', concat_ws(', ', 'address', 'city', 'region', 'postal_code', 'country'))

people_selected_df = people_selected_df.select('person_id', 'name', 'address','headline','description', 'created_at', 'updated_at')

# people_selected_df.show()

In [22]:
count_records(people_selected_df)

999

***Transformation for the "person_customer" table***

In [23]:
count_records(person_customer_df)

# person_customer_df.show()

166

In [24]:
check_uniqueness(person_customer_df,'person_id')

DataFrame is not unique based on person_id

In [25]:
# Group by 'person_id' and count the number of occurrences of each 'person_id'
duplicate_rows = person_customer_df.groupBy('person_id').agg(count('*').alias('count'))

# Filter the rows where 'count' is greater than 1 (i.e., 'person_id' is duplicated)
duplicate_rows = duplicate_rows.filter(duplicate_rows['count'] > 1)

# Show the duplicate rows
duplicate_rows.show()
count_records(duplicate_rows)

+---------+-----+
|person_id|count|
+---------+-----+
|693540132|    2|
+---------+-----+

1

In [26]:
# Define a window partitioned by person_id and ordered by updated_at in descending order
window = Window.partitionBy("person_id").orderBy(desc("updated_at"))

# Add a row_number column to the DataFrame
person_customer_df = person_customer_df.withColumn("rn", row_number().over(window))

# Filter the DataFrame to keep only the rows with rn = 1 (i.e., the latest updated_at for each person_id)
person_customer_df = person_customer_df.filter(person_customer_df.rn == 1)

# Drop the rn column
person_customer_df = person_customer_df.drop("rn")

count_records(person_customer_df)

165

In [27]:
# Call the 'check_uniqueness' function on 'person_customer_df' DataFrame to check if 'person_id' is unique
check_uniqueness(person_customer_df,'person_id')

DataFrame is unique based on person_id

In [28]:
# Select 'person_id' and 'customer_id' columns from 'person_customer_df' DataFrame
people_selected_customer_df = person_customer_df.select('person_id', 'customer_id')

# Join 'people_selected_df' with 'people_selected_customer_df' on 'person_id'
people_person_customer_df = people_selected_df.join(people_selected_customer_df, on='person_id', how='left')

# people_person_customer_df.show()

In [29]:
count_records(people_person_customer_df)

999

***Transformation for "Person Education" table***

In [30]:
count_records(person_educations_df)
# person_educations_df.show()

1209

In [31]:
# Define a struct for each institute
institute_struct = F.struct(
    "institution_id", "institution_name", "degree", "subject", "started_on", "ended_on"
)

# Group by person_id and collect list of institute details as structs
grouped_educations_df = person_educations_df.groupBy("person_id").agg(
    F.collect_list(institute_struct).alias("education")
    # ("education - (institution_id, institution_name, degree, subject, started_on, ended_on)")
)

person_education_group_df = grouped_educations_df



# Show the result
# person_education_group_df.show(truncate=False)

In [32]:
check_uniqueness(person_education_group_df, 'person_id')

DataFrame is unique based on person_id

In [33]:
count_records(person_education_group_df)

500

In [34]:
# Joining person_education_group_df and people_person_customer_df DataFrames on column named 'person_id'

people_person_customer_education_df = people_person_customer_df.join(person_education_group_df, on='person_id', how='left') 

# people_person_customer_education_df.show()

count_records(people_person_customer_education_df)

999

***Transformation for Company related information***

In [35]:
count_records(company_sectors_df)

5711

In [36]:
# Group the DataFrame 'company_sectors_df' by 'company_id'
grouped_company_sectors_df = company_sectors_df.groupBy('company_id').agg(
    F.collect_list('sector').alias('sectors')
)

# Check the DataFrame 'grouped_company_sectors_df'
# grouped_company_sectors_df.show()

count_records(grouped_company_sectors_df)

1000

In [37]:
count_records(company_annual_revenues_df)

18532

In [38]:
# Define a window partitioned by 'company_id' and ordered by 'date' in descending order
window = Window.partitionBy('company_id').orderBy(F.desc('date'))

# Add a new column 'rank' to the DataFrame 'company_annual_revenues_df'
# The 'rank' is calculated over the defined window
grouped_company_annual_revenues_df = company_annual_revenues_df.withColumn('rank', F.rank().over(window))

# Filter the DataFrame to keep only the rows where 'rank' is 1
# This gives us the latest annual revenue for each company
# Select only the 'company_id' and 'amount_usd' columns for the final DataFrame
latest_company_annual_revenues_df = grouped_company_annual_revenues_df.filter(F.col('rank') == 1).select('company_id', 'amount_usd')

# Check the DataFrame 'latest_company_annual_revenues_df'
# latest_company_annual_revenues_df.show()

count_records(latest_company_annual_revenues_df)

999

In [39]:
count_records(company_headcounts_df)

1000

In [40]:
# Define a window partitioned by 'headcount' and ordered by 'date' in descending order
window = Window.partitionBy('headcount').orderBy(F.desc('date'))

# Add a new column 'rank' to the DataFrame 'company_headcounts_df'
# The 'rank' is calculated over the defined window
grouped_company_headcounts_df = company_headcounts_df.withColumn('rank', F.rank().over(window))

# Filter the DataFrame to keep only the rows where 'rank' is 1
# This gives us the latest headcount for each company
# Select only the 'company_id' and 'headcount' columns for the final DataFrame
latest_company_headcounts_df = grouped_company_headcounts_df.filter(F.col('rank') == 1).select('company_id', 'headcount')

# Check the DataFrame 'latest_company_headcounts_df'
# latest_company_headcounts_df.show()

count_records(latest_company_headcounts_df)

847

In [41]:
# Select the 'company_id' and 'stock_ticker' columns from the DataFrame 'company_stock_tickers_df'
selected_company_stock_tickers_df = company_stock_tickers_df.select('company_id','stock_ticker')
count_records(selected_company_stock_tickers_df)

1000

In [42]:
# Define a Window specification: partition by 'company_id' and order by 'company_id', 'date' (in descending order), and 'updated_at' (in descending order)
windowSpec = Window.partitionBy(company_funding_rounds_df['company_id']).orderBy(company_funding_rounds_df['company_id'], company_funding_rounds_df['date'].desc(), company_funding_rounds_df['updated_at'].desc())

# Add a new column 'rn' to the DataFrame 'company_funding_rounds_df' which contains row numbers within each window partition
grouped_company_funding_rounds_df = company_funding_rounds_df.withColumn("rn", row_number().over(windowSpec))

# Filter the DataFrame to keep only the rows with 'rn' equal to 1 (i.e., the most recent funding round for each company), then drop the 'rn' column
filtered_company_funding_rounds_df = grouped_company_funding_rounds_df.filter(col("rn") == 1).drop("rn")

# Select the columns 'company_id', 'name', 'investor_company_id', and 'investor' from the filtered DataFrame
filtered_company_funding_rounds_df.select('company_id','name', 'investor_company_id','investor')

DataFrame[company_id: bigint, name: string, investor_company_id: double, investor: string]

***Joined the company information related transformed dataframes***

In [43]:

# Join the DataFrame 'grouped_company_sectors_df' with 'latest_company_annual_revenues_df', 'latest_company_headcounts_df', and 'selected_company_stock_tickers_df' on 'company_id'
# The join type is 'left', meaning only the rows with a match in both DataFrames will be kept
company_info_joined_df = grouped_company_sectors_df.join(
    latest_company_annual_revenues_df, 'company_id', 'left'
).join(
    latest_company_headcounts_df, 'company_id', 'left'
).join(
    selected_company_stock_tickers_df, 'company_id', 'left'
).join(
    filtered_company_funding_rounds_df, 'company_id', 'left'
)

# count_records(company_info_joined_df)

# Select the 'company_id', 'amount_usd', 'headcount', and 'stock_ticker' columns from the joined DataFrame
resultant_company_info_joined_df = company_info_joined_df.select(
    'company_id',
    company_info_joined_df['name'].alias('funding_name'), 'investor_company_id','investor',
    latest_company_annual_revenues_df['amount_usd'],
    latest_company_headcounts_df['headcount'],
    selected_company_stock_tickers_df['stock_ticker']
)

# Check the DataFrame 'resultant_company_info_joined_df'
# resultant_company_info_joined_df.show()

count_records(resultant_company_info_joined_df)

1000

***Transformation for the Person Employment Table***

In [44]:
count_records(person_employments_df)
# person_employments_df.show()

7898

In [45]:
person_employments_df.columns

['id',
 'person_id',
 'company_id',
 'company_name',
 'seniority_level',
 'title',
 'started_on',
 'ended_on',
 'created_at',
 'updated_at']

In [46]:
resultant_company_info_joined_df.columns

['company_id',
 'funding_name',
 'investor_company_id',
 'investor',
 'amount_usd',
 'headcount',
 'stock_ticker']

In [47]:
# Join the DataFrames on 'company_id'
resultant_company_info_employment_joined_df = person_employments_df.join(resultant_company_info_joined_df, 'company_id', 'left')

count_records(resultant_company_info_employment_joined_df)

# Define a new struct that includes the additional columns
emplopyment_struct = F.struct(
    "company_id", "company_name", "seniority_level", "title", "started_on", "ended_on",
    resultant_company_info_joined_df['amount_usd'],
    resultant_company_info_joined_df['headcount'],
    resultant_company_info_joined_df['stock_ticker'],
    resultant_company_info_joined_df['funding_name'],
    resultant_company_info_joined_df['investor_company_id'],
    resultant_company_info_joined_df['investor']

)

# Group by 'person_id' and collect list of employment details as structs
grouped_person_employments_df = resultant_company_info_employment_joined_df.groupBy("person_id").agg(
    F.collect_list(emplopyment_struct).alias("employments")
)

grouped_person_employments_df.show(1,truncate=False)


count_records(person_employments_df)

+---------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|person_id|employments                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |
+---------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|101255   |[{20556.0, M/A-COM, NaN, Member Of Technical Staff, 1982-01-01, 1984-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {387.0, AOL, NaN, Senior Software Developer, 1998-01-01, 2001-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {4207.0, Netscape, Manager, Calendar Server Development Manager, 1996-01-01, 1998-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {1660.0, Apple, NaN, Engineering Leader for Analytics and Data Products in Apple Media, 2016-10-01, NaN, 3.1949031445E10, 224704, AAPL, Private Equity, 6084.0, Interscope Records}, {1660.0, Apple, Head of ..., Head Of Foundation, Apple Online Store Engineering, 2015-08-01, 2016-10-01, 3.1949031445E10, 224704, AAPL, Private Equity, 6084.0, Interscope Records}, {77025.0, Yotta Technologies, NaN, Co-Founder, 2011-12-01, 2013-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {7854.0, Micro Focus, NaN, Senior Software Engineer, 1990-01-01, 1994-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {1.0692885E7, Zip2save.Com, NaN, Senior Software Engineer, 1996-01-01, 1996-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {13385.0, FirstRain, VP, Vice President Of Engineering Operations, 2013-01-01, 2015-07-01, NULL, NULL, NULL, NULL, NULL, NULL}, {9307194.0, Onlive Technologies, NaN, Senior Software Developer, 1994-01-01, 1996-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {171553.0, GRiD Systems, NaN, Software Developer, 1984-01-01, 1990-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {26.0, eBay, CXO, Chief Technology Officer Of Local Classifieds, 2007-09-01, 2011-06-01, NULL, NULL, NULL, NULL, NULL, NULL}, {26.0, eBay, NaN, Staff Software Engineer, 2001-04-01, 2001-12-01, NULL, NULL, NULL, NULL, NULL, NULL}, {26.0, eBay, Director, Technology Director, 2002-01-01, 2007-08-01, NULL, NULL, NULL, NULL, NULL, NULL}]|
+---------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 1 row

7898

In [48]:
# Join the DataFrame 'people_person_customer_education_df' with 'person_employments_df' on 'person_id'
# The resulting DataFrame contains information about a person's education and employment
people_person_customer_education_educations_df = people_person_customer_education_df.join(grouped_person_employments_df, on='person_id', how='left') 

# people_person_customer_education_educations_df.show()

count_records(people_person_customer_education_educations_df)

999

***Transformation for the Person Social Urls Table***

In [49]:
# Group by person_id and collect list of URL details
grouped_urls_df = person_social_urls_df.groupBy("person_id").agg(
    F.collect_list(
        F.struct("url_type", "url")
    ).alias("urls")
)

# Show the result
# grouped_urls_df.show(truncate=False)

count_records(grouped_urls_df)

999

In [50]:
check_uniqueness(grouped_urls_df, 'person_id')

DataFrame is unique based on person_id

In [51]:
# Joining person_education_group_df and people_person_customer_df DataFrames on column named 'person_id'

people_person_customer_education_employments_social_urls_df = people_person_customer_education_educations_df.join(grouped_urls_df, on='person_id', how='left') 

count_records(people_person_customer_education_employments_social_urls_df)

999

In [52]:
check_uniqueness(people_person_customer_education_employments_social_urls_df, 'person_id')

DataFrame is unique based on person_id

***Final Dataframe***

In [53]:
# people_person_customer_education_employments_social_urls_df.printSchema()

In [54]:
people_person_customer_education_employments_social_urls_df.show()

+----------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
| person_id|               name|             address|            headline|         description|          created_at|          updated_at|         customer_id|           education|         employments|                urls|
+----------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
| 949256266|        Vivian Weng|NaN, NaN, NaN, Na...|Product Design, S...|                 NaN|2023-12-11 06:18:...|                 NaN|7538cb11-1c23-4c7...|[{NaN, University...|[{7962172.0, Frog...|[{linkedin, https...|
| 787025923|        Lynda Zhang|NaN, NaN, NaN, Na...|Retail Ownership ...|                 NaN|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NaN, NaN, Manag...|[{linkedin, https...|
| 837503042|         Clara Ttu|NaN, NaN, NaN, Na...|Apple Solutions C...|                 NaN|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{400708.0, Clari...|[{linkedin, https...|
| 789056453|  Federico Maggiani|NaN, NaN, NaN, Na...|Digital Marketing...|An enthusiastic, ...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{40487.0, MindSh...|[{linkedin, https...|
|  57288072|  Anthony Salvaggio|NaN, Marion, New ...| Carpe Facto @ Apple|A skilled communi...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|[{NaN, Monroe Com...|[{1660.0, Apple, ...|[{linkedin, https...|
| 693540132|    Lika Razac-Ince|NaN, NaN, NaN, Na...|Content & Product...|Two sides of a co...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NaN, NaN, NaN, ...|[{linkedin, https...|
|1017713620|      Sarina Studer|NaN, NaN, NaN, Na...|Talent Attraction...|A successful recr...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NaN, NaN, NaN, ...|[{linkedin, https...|
| 856482513|        Karl Dubost|NaN, NaN, NaN, Na...|Open Web and Inte...|I'm a software en...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NaN, NaN, Manag...|[{linkedin, https...|
| 118418234|     Kenny Sheridan|NaN, Merrick, New...|Manager at Apple ...|                 NaN|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NaN, NaN, NaN, ...|[{linkedin, https...|
|  64876372|        David Coyle|NaN, Apex, North ...|Sr. iOS Engineer ...|IT professional w...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|[{NaN, University...|[{4376.0, Blackbe...|[{linkedin, https...|
| 741629676|  Iason Bakogiannis|NaN, NaN, NaN, Na...|Software Engineer...|Dedicated and exp...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{53741.0, Affect...|[{linkedin, https...|
| 747062710|      Michael Huang|NaN, NaN, NaN, Na...| Operations Director|Experienced Opera...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{112124.0, Motor...|[{linkedin, https...|
|  67121188|     Gurpreet Singh|NaN, San Antonio,...|Sr Technical Prog...|Innovative and ch...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|[{8522590.0, Kell...|[{NaN, NaN, NaN, ...|[{linkedin, https...|
| 122883279|          Matt Aldo|NaN, NaN, NaN, Na...|   director at Apple|                 NaN|2023-12-11 06:18:...|2023-10-18 23:07:...|7538cb11-1c23-4c7...|                NULL|[{1660.0, Apple, ...|[{linkedin, https...|
| 993985187|      Eddie McGrory|NaN, NaN, NaN, Na...|Market Leader at ...|Do your lifes be...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{266875.0, Dixon...|[{linkedin, https...|
|  52762066|    Kevin L. Fowler|NaN, Maryville, T...|Instructional Des...|At the intersecti...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|[{NaN, University...|[{8563308.0, Knox...|[{linkedin, https...|
| 745971556|      thomas gurney|NaN, NaN, NaN, Na...|Principle Pedo at...|   big fat mama lama|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{1660.0, Apple, ...|[{linkedin, https...|
| 994637657|          Annie Cai|NaN, NaN, NaN, Na...|              Retail|                 NaN|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NaN, NaN, Manag...|[{linkedin, https...|
| 124612718|      Brinda Pullen|NaN, NaN, NaN, Na...|HR consultant at ...|                 NaN|2023-12-11 06:18:...|2023-10-14 21:35:...|7538cb11-1c23-4c7...|                NULL|[{1660.0, Apple, ...|[{linkedin, https...|
| 993308913|Francesco Squatrito|NaN, NaN, NaN, Na...|Head of Partner M...|                 NaN|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{412007.0, Leaga...|[{linkedin, https...|
+----------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

***Final Dataframe can be exported to files such as CSV, JSON, Parquet***

In [55]:
# Use the exiting dataframe
final_df = people_person_customer_education_employments_social_urls_df

In [56]:
final_df.show(1,truncate=False)

+---------+---------------+-----------------------+----------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+----------------------+------------------------------------+---------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------+
|person_id|name           |address                |headline                          |description                                                                                                                                                                                                                                                                                                                                                                                      |created_at               |updated_at            |customer_id                         |education|employments                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |urls                                                             |
+---------+---------------+-----------------------+----------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+----------------------+------------------------------------+---------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------+
|693540132|Lika Razac-Ince|NaN, NaN, NaN, NaN, NaN|Content & Production Lead at Apple|Two sides of a coin... 7+ years experience of building and leading digital teams of producers, designers and developers. A strong team ethic and collaboration are at the core of how I lead and work within teams across projects.\n\nSecond side... Photographer capturing the candid subtleties in life. Documentary/reportage, behind the scenes, work life photography and that street life.|2023-12-11 06:18:08.13904|2023-10-26 15:57:22.35|7538cb11-1c23-4c76-87c7-5111a0f166dc|NULL     |[{NaN, NaN, NaN, Professional Photographer, 2018-04-01, NaN, NULL, NULL, NULL, NULL, NULL, NULL}, {NaN, NaN, NaN, Flash Designer/Artworker/, 2001-06-01, 2004-06-01, NULL, NULL, NULL, NULL, NULL, NULL}, {NaN, NaN, NaN, Flash designer, 2004-01-01, 2006-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {8911699.0, Interventional Pain & Physical Medicine Clinic, Head of ..., Head of Digital, 2006-11-01, 2012-04-01, NULL, NULL, NULL, NULL, NULL, NULL}, {1660.0, Apple, NaN, Content & Production Lead - Europe, 2022-01-01, NaN, 3.1949031445E10, 224704, AAPL, Private Equity, 6084.0, Interscope Records}, {728919.0, Bluedog, NaN, Project Management Consultant, 2020-06-01, 2020-11-01, NULL, NULL, NULL, NULL, NULL, NULL}, {14755.0, Agenda-Asia, NaN, Senior Project Management, 2018-04-01, 2019-12-01, NULL, NULL, NULL, NULL, NULL, NULL}, {630326.0, Tag Worldwide, NaN, Production Lead, 2020-12-01, 2022-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {61767.0, Karmarama, Head of ..., Head of Digital Delivery, 2014-03-01, 2018-03-01, NULL, NULL, NULL, NULL, NULL, NULL}, {61767.0, Karmarama, Director, Project Director (Freelance), 2013-11-01, 2014-03-01, NULL, NULL, NULL, NULL, NULL, NULL}, {1087587.0, Self Employed, NaN, Freelance SNR Project Management / PD / Head of, 2018-04-01, 2020-12-01, NULL, NULL, NULL, NULL, NULL, NULL}, {1.1549668E7, Dentsu Creative, Head of ..., Head of Digital production, 2012-04-01, 2013-10-01, NULL, NULL, NULL, NULL, NULL, NULL}, {7711674.0, Ekino London, Director, Freelance Project Director, 2020-01-01, 2020-05-01, NULL, NULL, NULL, NULL, NULL, NULL}]|[{linkedin, https://www.linkedin.com/in/lika-razac-ince-2044385}]|
+---------+---------------+-----------------------+----------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+----------------------+------------------------------------+---------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------+
only showing top 1 row

In [57]:
final_df.write.mode('overwrite').json('./work/final_df')

In [58]:
final_df.printSchema()

root
 |-- person_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = false)
 |-- headline: string (nullable = true)
 |-- description: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- updated_at: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- education: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- institution_id: double (nullable = true)
 |    |    |-- institution_name: string (nullable = true)
 |    |    |-- degree: string (nullable = true)
 |    |    |-- subject: string (nullable = true)
 |    |    |-- started_on: string (nullable = true)
 |    |    |-- ended_on: string (nullable = true)
 |-- employments: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- company_id: double (nullable = true)
 |    |    |-- company_name: string (nullable = true)
 |    |    |-- seniority_level: string (nullable = true)
 |    |    |-- title: string (nullable = true)
 |    |    |-- started_on: string (nullable = true)
 |    |    |-- ended_on: string (nullable = true)
 |    |    |-- amount_usd: double (nullable = true)
 |    |    |-- headcount: long (nullable = true)
 |    |    |-- stock_ticker: string (nullable = true)
 |    |    |-- funding_name: string (nullable = true)
 |    |    |-- investor_company_id: double (nullable = true)
 |    |    |-- investor: string (nullable = true)
 |-- urls: array (nullable = true)
 |    |-- element: struct (containsNull = false)
 |    |    |-- url_type: string (nullable = true)
 |    |    |-- url: string (nullable = true)

In [59]:
final_df.write.mode("overwrite").parquet("final_output/df4.parquet")

In [60]:
df = spark.read.parquet("final_output/df4.parquet")

In [61]:
df.show()

+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
| person_id|                name|             address|            headline|         description|          created_at|          updated_at|         customer_id|           education|         employments|                urls|
+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
| 949256266|         Vivian Weng|NaN, NaN, NaN, Na...|Product Design, S...|                 NaN|2023-12-11 06:18:...|                 NaN|7538cb11-1c23-4c7...|[{NaN, University...|[{7962172.0, Frog...|[{linkedin, https...|
| 902184389|   Hendrik Bourgeois|NaN, NaN, NaN, Na...|Head of Governmen...|                 NaN|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{1660.0, Apple, ...|[{linkedin, https...|
|  48171849|     Courtney Turner|NaN, Toledo, Ohio...|                 NaN|The search for so...|2023-12-11 06:18:...|2023-10-14 21:35:...|7538cb11-1c23-4c7...|[{NaN, The Univer...|[{1660.0, Apple, ...|[{linkedin, https...|
|  74707094|       Katie Richter|NaN, Austin, Texa...|                 NaN|Retail Business S...|2023-12-11 06:18:...|2023-10-14 21:35:...|7538cb11-1c23-4c7...|[{NaN, Rhodes Col...|[{6517068.0, Acti...|[{linkedin, https...|
|1042153985| Victor Merced-Felix|NaN, NaN, NaN, Na...|Customer Service ...|As stated in my r...|2023-12-11 06:18:...|2023-10-18 23:07:...|                NULL|                NULL|[{263757.0, VXI G...|[{linkedin, https...|
| 787025923|         Lynda Zhang|NaN, NaN, NaN, Na...|Retail Ownership ...|                 NaN|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NaN, NaN, Manag...|[{linkedin, https...|
| 715859477|      Tamara Vranjes|NaN, NaN, NaN, Na...|Assistant Team Ma...|Coming up to 5 ye...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NaN, NaN, CXO, ...|[{linkedin, https...|
|  51432999|        Juan Sanchez|NaN, Boise, Idaho...|                 NaN|Art Director at A...|2023-12-11 06:18:...|2023-10-18 23:07:...|7538cb11-1c23-4c7...|[{NaN, Minico Hig...|[{1660.0, Apple, ...|[{linkedin, https...|
|  71726687|     Katherine Hicks|NaN, Bay Village,...|                 NaN|Results Driven, C...|2023-12-11 06:18:...|2023-10-14 21:35:...|7538cb11-1c23-4c7...|[{NaN, Barnard Co...|[{108182.0, Macy'...|[{linkedin, https...|
| 909645082|       Lucas Turrado|NaN, NaN, NaN, Na...|Marketing Communi...|More than 10 year...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{1660.0, Apple, ...|[{linkedin, https...|
|  20891932|     Cynthia Collins|NaN, San Francisc...|                 NaN|18 years of progr...|2023-12-11 06:18:...|2023-10-14 21:35:...|7538cb11-1c23-4c7...|[{NaN, University...|[{1660.0, Apple, ...|[{linkedin, https...|
| 123861635|          Luke Meyer|NaN, NaN, NaN, Na...|Sr. Commercial Fi...|                 NaN|2023-12-11 06:18:...|2023-10-26 15:57:...|                NULL|                NULL|[{NaN, NaN, NaN, ...|[{linkedin, https...|
| 124440405|Ashton Mitchell D...|NaN, NaN, NaN, Na...|Brand Marketing a...|Building somethin...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{123324.0, DDB W...|[{linkedin, https...|
|  22355698|      Ritchie Lozada|NaN, San Francisc...|                 NaN|Passion for compl...|2023-12-11 06:18:...|2023-10-14 21:35:...|7538cb11-1c23-4c7...|[{NaN, Ateneo De ...|[{NaN, NaN, Manag...|[{linkedin, https...|
|    734368|Abby Anderson Edling|NaN, San Francisc...|  Marketing at Apple|Results-oriented ...|2023-12-11 06:18:...|2023-10-18 23:07:...|7538cb11-1c23-4c7...|[{194218.0, Compl...|[{7101313.0, Cal ...|[{linkedin, https...|
| 952242351|        Emily Nguyen|NaN, NaN, NaN, Na...|Director at Luxsh...|I am the manager ...|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{NaN, NaN, Direc...|[{linkedin, https...|
|  22216310|        Mark Gotuaco|NaN, Alameda, Cal...|                 NaN|Graduate Marketin...|2023-12-11 06:18:...|2023-10-14 21:35:...|                NULL|[{NaN, Santa Clar...|[{NaN, NaN, NaN, ...|[{linkedin, https...|
| 161786823|             Evan Li|NaN, NaN, NaN, Na...|Director of Energ...|He has now retire...|2023-12-11 06:18:...|2023-10-26 15:57:...|                NULL|                NULL|[{1694.0, Tesla, ...|[{linkedin, https...|
|1169460415|      Terrell Thomas|NaN, NaN, NaN, Na...|      Terrell Thomas|                 NaN|2023-12-11 06:18:...|2023-10-14 21:35:...|7538cb11-1c23-4c7...|                NULL|[{1660.0, Apple, ...|[{linkedin, https...|
| 837503042|          Clara Ttu|NaN, NaN, NaN, Na...|Apple Solutions C...|                 NaN|2023-12-11 06:18:...|2023-10-26 15:57:...|7538cb11-1c23-4c7...|                NULL|[{400708.0, Clari...|[{linkedin, https...|
+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [62]:
# Create an empty list to store the column expressions
column_exprs = []

# For each column in the DataFrame
for col_name in df.columns:
    # Create a new column expression that concatenates the column name and the column value
    column_exprs.append(F.concat(F.lit(col_name + ":"), df[col_name].cast("string")))

# Concatenate all column expressions into one single column 'single_text'
single_file_for_each_person_df = df.select(F.concat_ws(' ', *column_exprs).alias('candidate_details'))

single_file_for_each_person_df.show(1,truncate=False)

+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|candidate_details                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|person_id:949256266 name:Vivian Weng address:NaN, NaN, NaN, NaN, SINGAPORE headline:Product Design, Strategy & Managment description:NaN created_at:2023-12-11 06:18:08.13904 updated_at:NaN customer_id:7538cb11-1c23-4c76-87c7-5111a0f166dc education:[{NaN, University of California, Berkeley - Walter A. Haas School of Business, NaN, MBA, Finance, 2007-01-01, 2009-01-01}, {NaN, National Taiwan University, NaN, BA, International Relations, 1998-01-01, 2002-01-01}, {NaN, Yale University, NaN, MA, International Developmental Economics, 2002-01-01, 2003-01-01}] employments:[{7962172.0, Frog, Director, Associate Strategy Director, Innovation Strategy Group, 2012-02-01, 2016-06-01, null, null, null, null, null, null}, {15861.0, DBS Bank, VP, Vice President, Innovation Group, 2016-07-01, 2019-04-01, null, null, null, null, null, null}, {1660.0, Apple, NaN, Product Design Producer, International Product Design, 2019-04-01, NaN, 3.1949031445E10, 224704, AAPL, Private Equity, 6084.0, Interscope Records}, {59.0, Goldman Sachs, NaN, Investment Banking Division Summer Associate, 2008-06-01, 2008-08-01, 8.417546311E9, 75859, GS, null, null, null}, {4007.0, McKinsey & Company, NaN, Business Analyst, 2004-01-01, 2007-01-01, null, null, null, null, null, null}, {4007.0, McKinsey & Company, NaN, Senior Associate, Corporate Finance, 2009-09-01, 2011-11-01, null, null, null, null, null, null}] urls:[{linkedin, https://www.linkedin.com/in/vivian-weng-4a0b884}]|
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 1 row

In [63]:
df = df.select('person_id', 'name', 'address', 'headline', 'description', 'education', 'employments')
df.show(2,truncate=False)

+---------+-----------------+-----------------------------+-----------------------------------------------------+-----------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|person_id|name             |address                      |headline                                             |description|education                                                                                                                                                                                                                                                                                                              |employments                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
+---------+-----------------+-----------------------------+-----------------------------------------------------+-----------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|949256266|Vivian Weng      |NaN, NaN, NaN, NaN, SINGAPORE|Product Design, Strategy & Managment                 |NaN        |[{NaN, University of California, Berkeley - Walter A. Haas School of Business, NaN, MBA, Finance, 2007-01-01, 2009-01-01}, {NaN, National Taiwan University, NaN, BA, International Relations, 1998-01-01, 2002-01-01}, {NaN, Yale University, NaN, MA, International Developmental Economics, 2002-01-01, 2003-01-01}]|[{7962172.0, Frog, Director, Associate Strategy Director, Innovation Strategy Group, 2012-02-01, 2016-06-01, NULL, NULL, NULL, NULL, NULL, NULL}, {15861.0, DBS Bank, VP, Vice President, Innovation Group, 2016-07-01, 2019-04-01, NULL, NULL, NULL, NULL, NULL, NULL}, {1660.0, Apple, NaN, Product Design Producer, International Product Design, 2019-04-01, NaN, 3.1949031445E10, 224704, AAPL, Private Equity, 6084.0, Interscope Records}, {59.0, Goldman Sachs, NaN, Investment Banking Division Summer Associate, 2008-06-01, 2008-08-01, 8.417546311E9, 75859, GS, NULL, NULL, NULL}, {4007.0, McKinsey & Company, NaN, Business Analyst, 2004-01-01, 2007-01-01, NULL, NULL, NULL, NULL, NULL, NULL}, {4007.0, McKinsey & Company, NaN, Senior Associate, Corporate Finance, 2009-09-01, 2011-11-01, NULL, NULL, NULL, NULL, NULL, NULL}]                                                                                                                                                                                                       |
|902184389|Hendrik Bourgeois|NaN, NaN, NaN, NaN, NaN      |Head of Government Affairs Europe and Russia at Apple|NaN        |NULL                                                                                                                                                                                                                                                                                                                   |[{1660.0, Apple, Head of ..., Head of Government Affairs Europe and Russia, 2019-09-01, NaN, 3.1949031445E10, 224704, AAPL, Private Equity, 6084.0, Interscope Records}, {110139.0, Jones Day, NaN, Associate, 1993-08-01, 1996-12-01, NULL, NULL, NULL, NULL, NULL, NULL}, {110139.0, Jones Day, NaN, Associate, 1996-01-01, 1999-07-01, NULL, NULL, NULL, NULL, NULL, NULL}, {72544.0, Cargill, VP, Vice President Corporate Affairs EMEA, 2018-01-01, 2019-08-01, NULL, NULL, NULL, NULL, NULL, NULL}, {2025.0, General Electric, NaN, General Counsel, Europe, 2009-04-01, 2011-06-01, NULL, NULL, NULL, NULL, NULL, NULL}, {2025.0, General Electric, NaN, General Counsel Europe GE Industrial Systems, 1999-09-01, 2002-11-01, NULL, NULL, NULL, NULL, NULL, NULL}, {2025.0, General Electric, VP, General Counsel Europe & Vice President European Affairs, 2011-06-01, 2017-12-01, NULL, NULL, NULL, NULL, NULL, NULL}, {2025.0, General Electric, NaN, European Competition Counsel, 2002-11-01, 2009-04-01, NULL, NULL, NULL, NULL, NULL, NULL}]|
+---------+-----------------+-----------------------------+-----------------------------------------------------+-----------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 2 rows

In [64]:
from pyspark.sql.functions import regexp_replace, concat_ws

# Define a function to clean text
def clean_text(col):
    # Remove symbols and characters except ':'
    cleaned_col = regexp_replace(col, r'[^\w\s:]', '')
    # Replace 'null' with single whitespace
    cleaned_col = regexp_replace(cleaned_col, r'\bnull\b', ' ')
    # Remove extra whitespaces
    cleaned_col = regexp_replace(cleaned_col, r'\s+', ' ')
    return cleaned_col

# Apply the clean_text function to each column
cleaned_columns = [clean_text(col).alias(col) for col in single_file_for_each_person_df.columns]

# Concatenate the cleaned columns into a new column containing plain text
plain_text_df = single_file_for_each_person_df.select(concat_ws(' ', *cleaned_columns).alias('plain_text'))

# Show the resulting DataFrame
plain_text_df.show(2,truncate=False)
plain_text_df.count()

+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|plain_text                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|person_id:949256266 name:Vivian Weng address:NaN NaN NaN NaN SINGAPORE headline:Product Design Strategy Managment description:NaN created_at:20231211 06:18:0813904 updated_at:NaN customer_id:7538cb111c234c7687c75111a0f166dc education:NaN University of California Berkeley Walter A Haas School of Business NaN MBA Finance 20070101 20090101 NaN National Taiwan University NaN BA International Relations 19980101 20020101 NaN Yale University NaN MA International Developmental Economics 20020101 20030101 employments:79621720 Frog Director Associate Strategy Director Innovation Strategy Group 20120201 20160601 158610 DBS Bank VP Vice President Innovation Group 20160701 20190401 16600 Apple NaN Product Design Producer International Product Design 20190401 NaN 31949031445E10 224704 AAPL Private Equity 60840 Interscope Records 590 Goldman Sachs NaN Investment Banking Division Summer Associate 20080601 20080801 8417546311E9 75859 GS 40070 McKinsey Company NaN Business Analyst 20040101 20070101 40070 McKinsey Company NaN Senior Associate Corporate Finance 20090901 20111101 urls:linkedin https:wwwlinkedincominvivianweng4a0b884|
|person_id:902184389 name:Hendrik Bourgeois address:NaN NaN NaN NaN NaN headline:Head of Government Affairs Europe and Russia at Apple description:NaN created_at:20231211 06:18:0813904 updated_at:20231026 15:57:2235 customer_id:7538cb111c234c7687c75111a0f166dc employments:16600 Apple Head of Head of Government Affairs Europe and Russia 20190901 NaN 31949031445E10 224704 AAPL Private Equity 60840 Interscope Records 1101390 Jones Day NaN Associate 19930801 19961201 1101390 Jones Day NaN Associate 19960101 19990701 725440 Cargill VP Vice President Corporate Affairs EMEA 20180101 20190801 20250 General Electric NaN General Counsel Europe 20090401 20110601 20250 General Electric NaN General Counsel Europe GE Industrial Systems 19990901 20021101 20250 General Electric VP General Counsel Europe Vice President European Affairs 20110601 20171201 20250 General Electric NaN European Competition Counsel 20021101 20090401 urls:linkedin https:wwwlinkedincominhendrikbourgeois306b4871                                                                                                                                                   |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 2 rows

999

In [65]:
# Select only the first row
first_row = plain_text_df.tail(1)

# Show the first row
print(first_row)

[Row(plain_text='person_id:56622026 name:Erin Nopp address:NaN Omaha Nebraska NaN US headline:Strategic Account Manager at Allergan Aesthetics an AbbVie Company description:My passion is simplebusiness I love all aspects of it the way it grows when fed the right ingredients the way smart processes create positive change and the checkpoints which maintain and reward progress I live in the numbers the minutiae of day to day operations and the tasks which many business owners dreadnnI have found a special balance with aesthetic professionals and learned my genuine valueoriented approach pairs well with this powerful industry I love to be behindthescenes planning promotions analyzing inventory levels increasing margins and helping business owners succeed while focusing on what they do best Nothing fills me with more joy than seeing a business owner radiating power and accomplishment due to our collaboration created_at:20231211 06:18:0813904 updated_at:20231026 15:57:2235 education:NaN Colorado State University Global BachelorsBachelor Of Science Business AdministrationBusiness ManagementBusiness Administration And ManagementManagement NaN 20200101 NaN Creighton UniversityS Heider College Of Business Master Of Business AdministrationMasters NaN 20210101 20230101 employments:5528930 Jan Marini Skin Research NaN Account Development Manager 20210501 20211101 93109880 Osmosis Beauty NaN Account Executive at Osmosis Beauty 20180201 20200301 11097430 Glo Skin Beauty NaN Sales Consultant 20111001 20130201 786260 Este Lauder NaN Regional Makeup Artist 20050101 20070101 6099765445E9 24702 EL 3522080 Dermalogica NaN Senior Business Consultant 20130201 20180101 13979010 Hammonds Candies Director Director of National Sales 20071201 20110901 1131280 AbbVie NaN Strategic Account Manager 20211101 NaN 10603963036E10 51174 ABBV 69330710 BioTherapeutic NaN Corporate Sales Consultant 20200501 20210501 urls:linkedin https:wwwlinkedincominerinnopp')]

In [66]:
all_rows_list = plain_text_df.collect()

# Convert all rows to dictionaries
all_rows_dicts = [row.asDict() for row in all_rows_list]

# Convert the dictionaries to a pandas DataFrame
all_rows_df = pd.DataFrame(all_rows_dicts)


# Save all rows to a single CSV file, overwriting if it already exists
all_rows_df.to_csv('input_people_data.csv', index=False, mode='w', header=True)


# Print the total number of rows
print("Total number of rows:", len(all_rows_df))
# Print the first row of the DataFrame
# Set the display options to show all columns and rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)

# Print the first row of the DataFrame
# Convert the first row to a string and print it
# Print the 'plain_text' column of the first row
print(all_rows_df.iloc[0]['plain_text'])

Total number of rows: 999
person_id:949256266 name:Vivian Weng address:NaN NaN NaN NaN SINGAPORE headline:Product Design Strategy Managment description:NaN created_at:20231211 06:18:0813904 updated_at:NaN customer_id:7538cb111c234c7687c75111a0f166dc education:NaN University of California Berkeley Walter A Haas School of Business NaN MBA Finance 20070101 20090101 NaN National Taiwan University NaN BA International Relations 19980101 20020101 NaN Yale University NaN MA International Developmental Economics 20020101 20030101 employments:79621720 Frog Director Associate Strategy Director Innovation Strategy Group 20120201 20160601 158610 DBS Bank VP Vice President Innovation Group 20160701 20190401 16600 Apple NaN Product Design Producer International Product Design 20190401 NaN 31949031445E10 224704 AAPL Private Equity 60840 Interscope Records 590 Goldman Sachs NaN Investment Banking Division Summer Associate 20080601 20080801 8417546311E9 75859 GS 40070 McKinsey Company NaN Business Analyst 20040101 20070101 40070 McKinsey Company NaN Senior Associate Corporate Finance 20090901 20111101 urls:linkedin https:wwwlinkedincominvivianweng4a0b884